embedded/flows.json
[{"id":"2d11f65b.e9b34a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5471aef8.95a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"87d7ad43.758d6","type":"camerapi-takephoto","z":"2d11f65b.e9b34a","filemode":"2","filename":"test.png","filedefpath":"1","filepath":"","fileformat":"png","resolution":"5","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":600,"y":240,"wires":[["9e389d89.f145a"]]},{"id":"f8c11411.ba9dd8","type":"inject","z":"2d11f65b.e9b34a","name":"","topic":"","payload":"{\"filepath\":\"/home/pi/Pictures/\",\"filename\":\"foo.jpg\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":240,"wires":[["87d7ad43.758d6"]]},{"id":"9e389d89.f145a","type":"debug","z":"2d11f65b.e9b34a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":240,"wires":[]},{"id":"12ee454e.67787b","type":"grovepi-dht11","z":"2d11f65b.e9b34a","name":"","interval":1,"unit":"s","pin":"4","sensorname":"DHT11","sensorid":"dht11.1","x":230,"y":640,"wires":[["45803da9.1b7604"]]},{"id":"133bf235.4a19de","type":"grovepi-digital-output","z":"2d11f65b.e9b34a","name":"","pin":"7","x":820,"y":360,"wires":[]},{"id":"f8c21170.67aff","type":"grovepi-light-sensor","z":"2d11f65b.e9b34a","name":"","mode":"timer","interval":1,"unit":"s","pin":"2","sensorname":"Light Sensor","sensorid":"grovepi.light.1","x":290,"y":520,"wires":[[]]},{"id":"bfdb112d.c3ff5","type":"grovepi-loudness-sensor","z":"2d11f65b.e9b34a","name":"","mode":"timer","interval":1,"unit":"s","pin":"2","sensorname":"Loudness Sensor","sensorid":"grovepi.loudness.1","x":270,"y":440,"wires":[[]]},{"id":"22a2b38d.d5684c","type":"inject","z":"2d11f65b.e9b34a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":360,"wires":[["133bf235.4a19de"]]},{"id":"adc5b6fd.1c1898","type":"camerapi-takephoto","z":"5471aef8.95a","filemode":"2","filename":"test.png","filedefpath":"1","filepath":"","fileformat":"png","resolution":"5","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":300,"y":140,"wires":[["ff3e444f.d91478"]]},{"id":"7517b7a3.ef5cd8","type":"inject","z":"5471aef8.95a","name":"","topic":"","payload":"{\"filepath\":\"/home/pi/Pictures/\",\"filename\":\"foo.jpg\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["adc5b6fd.1c1898"]]},{"id":"ff3e444f.d91478","type":"debug","z":"5471aef8.95a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":140,"wires":[]},{"id":"45803da9.1b7604","type":"debug","z":"2d11f65b.e9b34a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":660,"wires":[]}]