embedded/flows.json
[{"id":"8e53108c.48e8d","type":"tab","label":"Capteurs","disabled":false,"info":""},{"id":"78e0c2eb.32e32c","type":"tab","label":"Sound","disabled":false,"info":""},{"id":"ab63faac.5527d8","type":"subflow","name":"Yolo Person, Cat, and Dog Detection","info":"","category":"Image Recognition","in":[{"x":280,"y":60,"wires":[]}],"out":[{"x":280,"y":500,"wires":[]},{"x":600,"y":500,"wires":[]},{"x":920,"y":500,"wires":[]},{"x":720,"y":280,"wires":[{"id":"e8db3230.be11c","port":0}]}],"env":[{"name":"Images Folder","type":"str","value":""},{"name":"Yolo Folder","type":"str","value":""},{"name":"Detection Delay","type":"num","value":"5"},{"name":"Recognition Confidence","type":"num","value":"50"},{"name":"Maxima Threshold","type":"num","value":"0.3"}],"status":{"x":800,"y":100,"wires":[]}},{"id":"b6a2ba94.cc3fb8","type":"subflow","name":"Speak","info":"","in":[{"x":60,"y":60,"wires":[]}],"out":[]},{"id":"3bd3a16b.56ad7e","type":"subflow","name":"Yolo Person, Cat, and Dog Detection (2)","info":"","category":"Image Recognition","in":[{"x":280,"y":60,"wires":[{"id":"f3477492.fa0ce8"}]}],"out":[{"x":280,"y":500,"wires":[{"id":"cf6a5cc6.e3b2e","port":0}]},{"x":600,"y":500,"wires":[{"id":"536e07ad.5664f8","port":0}]},{"x":920,"y":500,"wires":[{"id":"2712d658.63fcda","port":0}]}],"env":[{"name":"Images Folder","type":"str","value":""},{"name":"Yolo Folder","type":"str","value":""},{"name":"Detection Delay","type":"num","value":"5"},{"name":"Recognition Confidence","type":"num","value":"50"},{"name":"Maxima Threshold","type":"num","value":"0.3"}],"status":{"x":800,"y":100,"wires":[{"id":"b5527935.97c648","port":0},{"id":"4b74957c.8d5d5c","port":0},{"id":"cf6a5cc6.e3b2e","port":0},{"id":"a3a3f6bb.6727e8","port":0},{"id":"aee9863d.9521f8","port":1},{"id":"a48aa4ea.e10f88","port":1}]}},{"id":"20ea7484.154f1c","type":"subflow","name":"Yolo Person, Cat, and Dog Detection (3)","info":"","category":"Image Recognition","in":[{"x":280,"y":60,"wires":[{"id":"3af6eca5.551cd4"}]}],"out":[{"x":280,"y":500,"wires":[{"id":"aa069860.513b88","port":0}]},{"x":600,"y":500,"wires":[{"id":"2931540e.e6005c","port":0}]},{"x":920,"y":500,"wires":[{"id":"d8ecab33.31f5f8","port":0}]}],"env":[{"name":"Images Folder","type":"str","value":""},{"name":"Yolo Folder","type":"str","value":""},{"name":"Detection Delay","type":"num","value":"5"},{"name":"Recognition Confidence","type":"num","value":"50"},{"name":"Maxima Threshold","type":"num","value":"0.3"}],"status":{"x":800,"y":100,"wires":[{"id":"b3cdde73.1e4d3","port":0},{"id":"8bef9006.1ddd3","port":0},{"id":"aa069860.513b88","port":0},{"id":"7bf29a88.259ee4","port":0},{"id":"7174d4cd.d3b52c","port":1},{"id":"c498144.c7684e8","port":1}]}},{"id":"8c86f6d9.51fe88","type":"subflow","name":"Yolo Person, Cat, and Dog Detection (4)","info":"","category":"Image Recognition","in":[{"x":280,"y":60,"wires":[{"id":"10da5185.d8af0e"}]}],"out":[{"x":280,"y":500,"wires":[{"id":"1d95ffa1.fef87","port":0}]},{"x":600,"y":500,"wires":[{"id":"a0b8085b.987cc8","port":0}]},{"x":920,"y":500,"wires":[{"id":"518e51bf.f72c","port":0}]}],"env":[{"name":"Images Folder","type":"str","value":""},{"name":"Yolo Folder","type":"str","value":""},{"name":"Detection Delay","type":"num","value":"5"},{"name":"Recognition Confidence","type":"num","value":"50"},{"name":"Maxima Threshold","type":"num","value":"0.3"}],"color":"#DDAA99","status":{"x":800,"y":100,"wires":[{"id":"ab609a71.88ff48","port":0},{"id":"f419ae9f.52578","port":0},{"id":"1d95ffa1.fef87","port":0},{"id":"4aafe22c.63429c","port":0},{"id":"d6847fe3.d7d9a","port":1},{"id":"ea30d60c.fa9538","port":1}]}},{"id":"f0a911f2.7eba5","type":"board-config","z":"","board":"GrovePi"},{"id":"baaa32e2.a2df6","type":"mopidy-config","z":"","name":"mopidy","host":"localhost","port":"6880"},{"id":"9a8a0e83.1c7c4","type":"mopidy-config","z":"","name":"mopdy","host":"localhost","port":"6680"},{"id":"7068be10.98f29","type":"mopidy-config","name":"My Local Server","host":"localhost","port":"6680"},{"id":"3fc4a58c.5ae222","type":"mopidy-config","name":"My Local Server","host":"localhost","port":"6680"},{"id":"4f184f2.a7508b","type":"mqtt-broker","z":"","name":"Ambiance-broker-rasp","broker":"192.168.43.226","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"558b0652.8cd14","type":"mpd-server","z":"","host":"192.168.43.222","port":"6600"},{"id":"90e1e626.2bc048","type":"exec","z":"ab63faac.5527d8","command":"python","addpay":true,"append":"","useSpawn":"false","timer":"5000","oldrc":false,"name":"Execute Python Script","x":370,"y":320,"wires":[["ba18e584.8a0278","5217516a.43e4f"],["c42ac4c8.e002f8"],[]]},{"id":"e8db3230.be11c","type":"file","z":"ab63faac.5527d8","name":"Write Last Image","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":360,"y":220,"wires":[["bdd0e40a.e17d78"]]},{"id":"ba18e584.8a0278","type":"json","z":"ab63faac.5527d8","name":"Create JSON Message","property":"payload","action":"obj","pretty":false,"x":370,"y":380,"wires":[[]]},{"id":"e3922762.c02108","type":"delay","z":"ab63faac.5527d8","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":140,"wires":[["5b0d3805.b49ef8"]]},{"id":"5b0d3805.b49ef8","type":"function","z":"ab63faac.5527d8","name":"Filename Creator","func":"if (env.get(\"Images Folder\") !== \"\"){\n    msg.filename = env.get(\"Images Folder\") + \"/Last Image.jpg\"\n    return [msg, null];\n}\nelse {\n    msg.payload = \"No Image Folder Given\"\n    node.warn(msg.payload)\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":360,"y":180,"wires":[["e8db3230.be11c"],[]]},{"id":"bdd0e40a.e17d78","type":"function","z":"ab63faac.5527d8","name":"Command Creator","func":"// Clean Message \nmsg = {}\n\n// Change backslash for forward slash \nimagesFolder = env.get(\"Images Folder\")//.split(\"\\\\\").join(\"/\")\nyoloFolder = env.get(\"Yolo Folder\")//.split(\"\\\\\").join(\"/\")\n\nif (yoloFolder !== \"\") {\n    // Create output string\n    msg.payload = \" \\\"\"             + yoloFolder                + \"/yolo.py\\\"\"  +\n                  \" --folder \\\"\"    + imagesFolder              + \"\\\"\"          +\n                  \" --yolo \\\"\"      + yoloFolder                + \"\\\"\"          + \n                  \" --confidence \"  + env.get(\"Recognition Confidence\")/100     +  \n                  \" --threshold \"   + env.get(\"Maxima Threshold\")/100 \n    // Return msg  \n    return [msg, null];            \n}\nelse {\n    msg.payload = \"No Yolo Data Folder Specified\"\n    node.warn(msg.payload)\n    return [null, msg];         \n}\n","outputs":2,"noerr":0,"x":350,"y":260,"wires":[["90e1e626.2bc048","2417e3b1.61fbfc"],[]]},{"id":"5217516a.43e4f","type":"delay","z":"ab63faac.5527d8","name":"Wait for Image Write","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":380,"wires":[["a2d8f88f.8dc6b8","783bf5e4.befc1c"]]},{"id":"b75794b1.6954a8","type":"file in","z":"ab63faac.5527d8","name":"Read Last Analysed Image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":700,"y":460,"wires":[[]]},{"id":"a2d8f88f.8dc6b8","type":"function","z":"ab63faac.5527d8","name":"Filename Creator","func":"msg.filename = env.get(\"Images Folder\") + \"/Last Analysed Image.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["b75794b1.6954a8"]]},{"id":"28f8d47b.c66c7c","type":"file in","z":"ab63faac.5527d8","name":"Read Last Object Image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1010,"y":460,"wires":[[]]},{"id":"783bf5e4.befc1c","type":"function","z":"ab63faac.5527d8","name":"Filename Creator","func":"msg.filename = env.get(\"Images Folder\") + \"/Last Object Image.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["28f8d47b.c66c7c"]]},{"id":"846f61a9.d4613","type":"function","z":"ab63faac.5527d8","name":"Delay Creator","func":"msg.delay = env.get(\"Detection Delay\")*1000\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["e3922762.c02108"]]},{"id":"2417e3b1.61fbfc","type":"function","z":"ab63faac.5527d8","name":"Update Status","func":"msg = {}\nmsg.payload = \"Processing\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"c42ac4c8.e002f8","type":"function","z":"ab63faac.5527d8","name":"Update Warning","func":"if (msg.rc.code !== 0) {\n    node.warn(msg.payload)\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":140,"wires":[[]]},{"id":"7e5a853d.514a4c","type":"catch","z":"ab63faac.5527d8","name":"","scope":null,"uncaught":false,"x":640,"y":180,"wires":[[]]},{"id":"8e6d5307.260d6","type":"google-tts","z":"b6a2ba94.cc3fb8","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"en","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":200,"y":60,"wires":[["7be2f77a.fbc898"]]},{"id":"8dfb2db9.12b54","type":"exec","z":"b6a2ba94.cc3fb8","command":"omxplayer ","addpay":true,"append":"{{payload}}","useSpawn":"true","timer":"5","oldrc":false,"name":"","x":610,"y":60,"wires":[[],[],[]]},{"id":"7be2f77a.fbc898","type":"change","z":"b6a2ba94.cc3fb8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"https://","fromt":"str","to":"http://","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":60,"wires":[["8dfb2db9.12b54"]]},{"id":"6029b2b0.2a080c","type":"mqtt out","z":"8e53108c.48e8d","name":"temperature-data","topic":"AB/ambiance-box1/sensors/dht11/1/temperature/degree_celsius","qos":"2","retain":"","broker":"4f184f2.a7508b","x":1130,"y":180,"wires":[]},{"id":"5bae8ba0.668d44","type":"function","z":"8e53108c.48e8d","name":"Discard until call","func":"if(flow.get('get-data-sensors-temphumi')){\n    flow.set('get-data-sensors-temphumi',false);\n    return msg;\n}","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["4083ed03.a7e564"]]},{"id":"babd74f1.8d07e8","type":"mqtt in","z":"8e53108c.48e8d","name":"","topic":"request-data","qos":"2","datatype":"auto","broker":"4f184f2.a7508b","x":350,"y":500,"wires":[["da8168e.43c9998"]]},{"id":"da8168e.43c9998","type":"function","z":"8e53108c.48e8d","name":"","func":"flow.set('get-data-sensors-loudness', true);\nflow.set('get-data-sensors-light', true);\nflow.set('get-data-sensors-temphumi', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":500,"wires":[[]]},{"id":"8e87c8cb.7d5828","type":"function","z":"8e53108c.48e8d","name":"Purge Strange Data","func":"if(msg.payload.humidity < 1000000)\n    return msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["5bae8ba0.668d44"]]},{"id":"fafcbb6a.c1d678","type":"function","z":"8e53108c.48e8d","name":"Transform to %","func":"sound = (msg.payload * 100)/1024\n\nreturn {\"payload\": {\"sound\": sound}}","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["f065a822.2d1ca"]]},{"id":"67ce0710.7eaaa8","type":"mqtt in","z":"78e0c2eb.32e32c","name":"","topic":"modify-volume","qos":"2","datatype":"auto","broker":"4f184f2.a7508b","x":140,"y":460,"wires":[["c8e4801.249ee8"]]},{"id":"88a782d5.16b46","type":"exec","z":"78e0c2eb.32e32c","command":"amixer cset numid=1 ","addpay":true,"append":"{{payload}}","useSpawn":"false","timer":"","oldrc":false,"name":"","x":720,"y":460,"wires":[[],[],[]]},{"id":"4df67d1e.015944","type":"debug","z":"78e0c2eb.32e32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":540,"wires":[]},{"id":"c8e4801.249ee8","type":"function","z":"78e0c2eb.32e32c","name":"format value","func":"new_payload = \"\"+msg.payload+\"0%\"\n\nreturn {\"payload\": new_payload};","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["4df67d1e.015944","88a782d5.16b46"]]},{"id":"82186704.b37e","type":"mqtt out","z":"8e53108c.48e8d","name":"loudness-data","topic":"AB/ambiance-box1/sensors/loudness/1/percentage","qos":"2","retain":"","broker":"4f184f2.a7508b","x":960,"y":80,"wires":[]},{"id":"f065a822.2d1ca","type":"function","z":"8e53108c.48e8d","name":"Discard until call","func":"if(flow.get('get-data-sensors-loudness')){\n    flow.set('get-data-sensors-loudness',false);\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":80,"wires":[["82186704.b37e"]]},{"id":"b5877690.3419a8","type":"function","z":"8e53108c.48e8d","name":"Transform to Lux","func":"sound = (msg.payload * 350)/1024\n\nreturn {\"payload\": {\"lux\": sound}}","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["dad55f7e.a2508"]]},{"id":"dad55f7e.a2508","type":"function","z":"8e53108c.48e8d","name":"Discard until call","func":"if(flow.get('get-data-sensors-light')){\n    flow.set('get-data-sensors-light',false);\n    return msg;\n}","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["c9b1dc44.2cbf3"]]},{"id":"c9b1dc44.2cbf3","type":"mqtt out","z":"8e53108c.48e8d","name":"light-data","topic":"AB/ambiancebox1/light/1/lux","qos":"2","retain":"","broker":"4f184f2.a7508b","x":940,"y":340,"wires":[]},{"id":"9c1c64ba.207f68","type":"exec","z":"3bd3a16b.56ad7e","command":"python","addpay":true,"append":"","useSpawn":"false","timer":"5000","oldrc":false,"name":"Execute Python Script","x":360,"y":320,"wires":[["cf6a5cc6.e3b2e","21b00858.84af28"],["4b74957c.8d5d5c"],[]]},{"id":"302fe0ca.af1c8","type":"file","z":"3bd3a16b.56ad7e","name":"Write Last Image","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":350,"y":220,"wires":[["a48aa4ea.e10f88"]]},{"id":"cf6a5cc6.e3b2e","type":"json","z":"3bd3a16b.56ad7e","name":"Create JSON Message","property":"payload","action":"obj","pretty":false,"x":370,"y":380,"wires":[[]]},{"id":"7f218701.4967a8","type":"delay","z":"3bd3a16b.56ad7e","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":140,"wires":[["aee9863d.9521f8"]]},{"id":"aee9863d.9521f8","type":"function","z":"3bd3a16b.56ad7e","name":"Filename Creator","func":"if (env.get(\"Images Folder\") !== \"\"){\n    msg.filename = env.get(\"Images Folder\") + \"/Last Image.jpg\"\n    return [msg, null];\n}\nelse {\n    msg.payload = \"No Image Folder Given\"\n    node.warn(msg.payload)\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":350,"y":180,"wires":[["302fe0ca.af1c8"],[]]},{"id":"a48aa4ea.e10f88","type":"function","z":"3bd3a16b.56ad7e","name":"Command Creator","func":"// Clean Message \nmsg = {}\n\n// Change backslash for forward slash \nimagesFolder = env.get(\"Images Folder\")//.split(\"\\\\\").join(\"/\")\nyoloFolder = env.get(\"Yolo Folder\")//.split(\"\\\\\").join(\"/\")\n\nif (yoloFolder !== \"\") {\n    // Create output string\n    msg.payload = \" \\\"\"             + yoloFolder                + \"/yolo.py\\\"\"  +\n                  \" --folder \\\"\"    + imagesFolder              + \"\\\"\"          +\n                  \" --yolo \\\"\"      + yoloFolder                + \"\\\"\"          + \n                  \" --confidence \"  + env.get(\"Recognition Confidence\")/100     +  \n                  \" --threshold \"   + env.get(\"Maxima Threshold\")/100 \n    // Return msg  \n    return [msg, null];            \n}\nelse {\n    msg.payload = \"No Yolo Data Folder Specified\"\n    node.warn(msg.payload)\n    return [null, msg];         \n}\n","outputs":2,"noerr":0,"x":350,"y":260,"wires":[["9c1c64ba.207f68","b5527935.97c648"],[]]},{"id":"21b00858.84af28","type":"delay","z":"3bd3a16b.56ad7e","name":"Wait for Image Write","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":380,"wires":[["5fb9505b.6f146","9d2355cb.74bbd8"]]},{"id":"536e07ad.5664f8","type":"file in","z":"3bd3a16b.56ad7e","name":"Read Last Analysed Image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":700,"y":460,"wires":[[]]},{"id":"5fb9505b.6f146","type":"function","z":"3bd3a16b.56ad7e","name":"Filename Creator","func":"msg.filename = env.get(\"Images Folder\") + \"/Last Analysed Image.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["536e07ad.5664f8"]]},{"id":"2712d658.63fcda","type":"file in","z":"3bd3a16b.56ad7e","name":"Read Last Object Image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1010,"y":460,"wires":[[]]},{"id":"9d2355cb.74bbd8","type":"function","z":"3bd3a16b.56ad7e","name":"Filename Creator","func":"msg.filename = env.get(\"Images Folder\") + \"/Last Object Image.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["2712d658.63fcda"]]},{"id":"f3477492.fa0ce8","type":"function","z":"3bd3a16b.56ad7e","name":"Delay Creator","func":"msg.delay = env.get(\"Detection Delay\")*1000\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["7f218701.4967a8"]]},{"id":"b5527935.97c648","type":"function","z":"3bd3a16b.56ad7e","name":"Update Status","func":"msg = {}\nmsg.payload = \"Processing\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"4b74957c.8d5d5c","type":"function","z":"3bd3a16b.56ad7e","name":"Update Warning","func":"if (msg.rc.code !== 0) {\n    node.warn(msg.payload)\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":140,"wires":[[]]},{"id":"a3a3f6bb.6727e8","type":"catch","z":"3bd3a16b.56ad7e","name":"","scope":null,"uncaught":false,"x":640,"y":180,"wires":[[]]},{"id":"badf67c7.d51108","type":"exec","z":"20ea7484.154f1c","command":"python","addpay":true,"append":"","useSpawn":"false","timer":"5000","oldrc":false,"name":"Execute Python Script","x":360,"y":320,"wires":[["aa069860.513b88","227f5a83.924026"],["8bef9006.1ddd3"],[]]},{"id":"3f241c7b.f06e14","type":"file","z":"20ea7484.154f1c","name":"Write Last Image","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":350,"y":220,"wires":[["c498144.c7684e8"]]},{"id":"aa069860.513b88","type":"json","z":"20ea7484.154f1c","name":"Create JSON Message","property":"payload","action":"obj","pretty":false,"x":370,"y":380,"wires":[[]]},{"id":"bdd0d252.2668c","type":"delay","z":"20ea7484.154f1c","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":140,"wires":[["7174d4cd.d3b52c"]]},{"id":"7174d4cd.d3b52c","type":"function","z":"20ea7484.154f1c","name":"Filename Creator","func":"if (env.get(\"Images Folder\") !== \"\"){\n    msg.filename = env.get(\"Images Folder\") + \"/Last Image.jpg\"\n    return [msg, null];\n}\nelse {\n    msg.payload = \"No Image Folder Given\"\n    node.warn(msg.payload)\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":350,"y":180,"wires":[["3f241c7b.f06e14"],[]]},{"id":"c498144.c7684e8","type":"function","z":"20ea7484.154f1c","name":"Command Creator","func":"// Clean Message \nmsg = {}\n\n// Change backslash for forward slash \nimagesFolder = env.get(\"Images Folder\")//.split(\"\\\\\").join(\"/\")\nyoloFolder = env.get(\"Yolo Folder\")//.split(\"\\\\\").join(\"/\")\n\nif (yoloFolder !== \"\") {\n    // Create output string\n    msg.payload = \" \\\"\"             + yoloFolder                + \"/yolo.py\\\"\"  +\n                  \" --folder \\\"\"    + imagesFolder              + \"\\\"\"          +\n                  \" --yolo \\\"\"      + yoloFolder                + \"\\\"\"          + \n                  \" --confidence \"  + env.get(\"Recognition Confidence\")/100     +  \n                  \" --threshold \"   + env.get(\"Maxima Threshold\")/100 \n    // Return msg  \n    return [msg, null];            \n}\nelse {\n    msg.payload = \"No Yolo Data Folder Specified\"\n    node.warn(msg.payload)\n    return [null, msg];         \n}\n","outputs":2,"noerr":0,"x":350,"y":260,"wires":[["badf67c7.d51108","b3cdde73.1e4d3"],[]]},{"id":"227f5a83.924026","type":"delay","z":"20ea7484.154f1c","name":"Wait for Image Write","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":380,"wires":[["6858aec6.c4f31","b0527a02.1bfcb8"]]},{"id":"2931540e.e6005c","type":"file in","z":"20ea7484.154f1c","name":"Read Last Analysed Image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":700,"y":460,"wires":[[]]},{"id":"6858aec6.c4f31","type":"function","z":"20ea7484.154f1c","name":"Filename Creator","func":"msg.filename = env.get(\"Images Folder\") + \"/Last Analysed Image.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["2931540e.e6005c"]]},{"id":"d8ecab33.31f5f8","type":"file in","z":"20ea7484.154f1c","name":"Read Last Object Image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1010,"y":460,"wires":[[]]},{"id":"b0527a02.1bfcb8","type":"function","z":"20ea7484.154f1c","name":"Filename Creator","func":"msg.filename = env.get(\"Images Folder\") + \"/Last Object Image.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["d8ecab33.31f5f8"]]},{"id":"3af6eca5.551cd4","type":"function","z":"20ea7484.154f1c","name":"Delay Creator","func":"msg.delay = env.get(\"Detection Delay\")*1000\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["bdd0d252.2668c"]]},{"id":"b3cdde73.1e4d3","type":"function","z":"20ea7484.154f1c","name":"Update Status","func":"msg = {}\nmsg.payload = \"Processing\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"8bef9006.1ddd3","type":"function","z":"20ea7484.154f1c","name":"Update Warning","func":"if (msg.rc.code !== 0) {\n    node.warn(msg.payload)\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":140,"wires":[[]]},{"id":"7bf29a88.259ee4","type":"catch","z":"20ea7484.154f1c","name":"","scope":null,"uncaught":false,"x":640,"y":180,"wires":[[]]},{"id":"9034fe05.3e4e5","type":"exec","z":"8c86f6d9.51fe88","command":"python","addpay":true,"append":"","useSpawn":"false","timer":"5000","oldrc":false,"name":"Execute Python Script","x":360,"y":320,"wires":[["1d95ffa1.fef87","671402b7.da566c"],["f419ae9f.52578"],[]]},{"id":"5d2f2007.635a4","type":"file","z":"8c86f6d9.51fe88","name":"Write Last Image","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":350,"y":220,"wires":[["ea30d60c.fa9538"]]},{"id":"1d95ffa1.fef87","type":"json","z":"8c86f6d9.51fe88","name":"Create JSON Message","property":"payload","action":"obj","pretty":false,"x":370,"y":380,"wires":[[]]},{"id":"3ac6bcf5.bdbf54","type":"delay","z":"8c86f6d9.51fe88","name":"Rate Limiter","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":140,"wires":[["d6847fe3.d7d9a"]]},{"id":"d6847fe3.d7d9a","type":"function","z":"8c86f6d9.51fe88","name":"Filename Creator","func":"if (env.get(\"Images Folder\") !== \"\"){\n    msg.filename = env.get(\"Images Folder\") + \"/Last Image.jpg\"\n    return [msg, null];\n}\nelse {\n    msg.payload = \"No Image Folder Given\"\n    node.warn(msg.payload)\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"x":350,"y":180,"wires":[["5d2f2007.635a4"],[]]},{"id":"ea30d60c.fa9538","type":"function","z":"8c86f6d9.51fe88","name":"Command Creator","func":"// Clean Message \nmsg = {}\n\n// Change backslash for forward slash \nimagesFolder = env.get(\"Images Folder\")//.split(\"\\\\\").join(\"/\")\nyoloFolder = env.get(\"Yolo Folder\")//.split(\"\\\\\").join(\"/\")\n\nif (yoloFolder !== \"\") {\n    // Create output string\n    msg.payload = \" \\\"\"             + yoloFolder                + \"/yolo.py\\\"\"  +\n                  \" --folder \\\"\"    + imagesFolder              + \"\\\"\"          +\n                  \" --yolo \\\"\"      + yoloFolder                + \"\\\"\"          + \n                  \" --confidence \"  + env.get(\"Recognition Confidence\")/100     +  \n                  \" --threshold \"   + env.get(\"Maxima Threshold\")/100 \n    // Return msg  \n    return [msg, null];            \n}\nelse {\n    msg.payload = \"No Yolo Data Folder Specified\"\n    node.warn(msg.payload)\n    return [null, msg];         \n}\n","outputs":2,"noerr":0,"x":350,"y":260,"wires":[["9034fe05.3e4e5","ab609a71.88ff48"],[]]},{"id":"671402b7.da566c","type":"delay","z":"8c86f6d9.51fe88","name":"Wait for Image Write","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":380,"wires":[["2e9243d3.4dc33c","8320adf8.f5df6"]]},{"id":"a0b8085b.987cc8","type":"file in","z":"8c86f6d9.51fe88","name":"Read Last Analysed Image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":700,"y":460,"wires":[[]]},{"id":"2e9243d3.4dc33c","type":"function","z":"8c86f6d9.51fe88","name":"Filename Creator","func":"msg.filename = env.get(\"Images Folder\") + \"/Last Analysed Image.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["a0b8085b.987cc8"]]},{"id":"518e51bf.f72c","type":"file in","z":"8c86f6d9.51fe88","name":"Read Last Object Image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1010,"y":460,"wires":[[]]},{"id":"8320adf8.f5df6","type":"function","z":"8c86f6d9.51fe88","name":"Filename Creator","func":"msg.filename = env.get(\"Images Folder\") + \"/Last Object Image.jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["518e51bf.f72c"]]},{"id":"10da5185.d8af0e","type":"function","z":"8c86f6d9.51fe88","name":"Delay Creator","func":"msg.delay = env.get(\"Detection Delay\")*1000\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["3ac6bcf5.bdbf54"]]},{"id":"ab609a71.88ff48","type":"function","z":"8c86f6d9.51fe88","name":"Update Status","func":"msg = {}\nmsg.payload = \"Processing\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"f419ae9f.52578","type":"function","z":"8c86f6d9.51fe88","name":"Update Warning","func":"if (msg.rc.code !== 0) {\n    node.warn(msg.payload)\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":140,"wires":[[]]},{"id":"4aafe22c.63429c","type":"catch","z":"8c86f6d9.51fe88","name":"","scope":null,"uncaught":false,"x":640,"y":180,"wires":[[]]},{"id":"7032d2f6.897e4c","type":"mqtt in","z":"8e53108c.48e8d","name":"","topic":"led-color","qos":"2","datatype":"auto","broker":"4f184f2.a7508b","x":220,"y":860,"wires":[["dcaa43ec.bd58b","c863497e.60a048"]]},{"id":"c863497e.60a048","type":"exec","z":"8e53108c.48e8d","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":850,"y":840,"wires":[[],["f778d710.7efa08"],[]]},{"id":"b0ddfff8.5af168","type":"exec","z":"8e53108c.48e8d","command":"LD_PRELOAD=/usr/lib/arm-linux-gnueabihf/libatomic.so.1.2.0 python3 ~/pedes-detection/script/detect.py","addpay":false,"append":"--images ~/detectionImage/","useSpawn":"false","timer":"5","oldrc":false,"name":"","x":850,"y":660,"wires":[["42271cc2.91e4bc","a0dca5c2.d94e9"],[],[]]},{"id":"5b17c9b4.a2f318","type":"inject","z":"8e53108c.48e8d","name":"","topic":"every 5s","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":620,"wires":[[]]},{"id":"42271cc2.91e4bc","type":"mqtt out","z":"8e53108c.48e8d","name":"","topic":"send-people-count","qos":"2","retain":"","broker":"4f184f2.a7508b","x":1390,"y":620,"wires":[]},{"id":"4083ed03.a7e564","type":"split","z":"8e53108c.48e8d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":240,"wires":[["23761706.1d2278"]]},{"id":"23761706.1d2278","type":"switch","z":"8e53108c.48e8d","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"heatIndex","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":920,"y":240,"wires":[["6029b2b0.2a080c"],["d78cbb6b.469d08"],["139dc846.3f3b48"]]},{"id":"d78cbb6b.469d08","type":"mqtt out","z":"8e53108c.48e8d","name":"humidity-data","topic":"AB/ambiance-box1/sensors/dht11/1/humidity/percentage","qos":"2","retain":"","broker":"4f184f2.a7508b","x":1120,"y":240,"wires":[]},{"id":"139dc846.3f3b48","type":"mqtt out","z":"8e53108c.48e8d","name":"heatindex-data","topic":"AB/ambiance-box1/sensors/dht11/1/heatindex/degree_celcius","qos":"2","retain":"","broker":"4f184f2.a7508b","x":1120,"y":300,"wires":[]},{"id":"a0dca5c2.d94e9","type":"debug","z":"8e53108c.48e8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":740,"wires":[]},{"id":"317efa6c.e2a476","type":"inject","z":"8e53108c.48e8d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":660,"wires":[["5a12204d.5cb02"]]},{"id":"5a12204d.5cb02","type":"camerapi-takephoto","z":"8e53108c.48e8d","filemode":"1","filename":"photo2.jpg","filedefpath":"0","filepath":"~/detectionImage/","fileformat":"jpeg","resolution":"4","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"200","agcwait":"1.0","led":"0","awb":"auto","name":"","x":300,"y":660,"wires":[["b0ddfff8.5af168"]]},{"id":"dcaa43ec.bd58b","type":"debug","z":"8e53108c.48e8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":900,"wires":[]},{"id":"984ffae0.8215e","type":"mqtt in","z":"78e0c2eb.32e32c","name":"","topic":"mpd-control","qos":"2","datatype":"json","broker":"4f184f2.a7508b","x":100,"y":80,"wires":[["bcc54264.7cb568"]]},{"id":"84b45f93.210f","type":"exec","z":"78e0c2eb.32e32c","command":"","addpay":true,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"","x":610,"y":100,"wires":[["5250562b.11d588","79b67e3d.a66cc"],[],[]]},{"id":"bcc54264.7cb568","type":"function","z":"78e0c2eb.32e32c","name":"prepare mpc command","func":"let cmd_name = msg.payload.cmd_name;\nlet cmd = msg.payload.cmd;\nlet data = msg.payload.data;\n\nmsg.topic = cmd_name + ' ' + data;\nmsg.payload = `mpc ${cmd}`\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["84b45f93.210f","16a2cefb.80e2b1"]]},{"id":"79b67e3d.a66cc","type":"function","z":"78e0c2eb.32e32c","name":"extract results","func":"let results = msg.payload.split(\"\\n\");\nlet cmd_name = msg.topic.split(\" \")[0];\nlet data = msg.topic.split(' ').slice(1).join(' ');\n\nmsg.payload = {data: data, cmd_name: cmd_name.trim(), results: results}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":200,"wires":[["2956cf28.0c5498","5250562b.11d588"]]},{"id":"2956cf28.0c5498","type":"mqtt out","z":"78e0c2eb.32e32c","name":"","topic":"mpd-receive","qos":"2","retain":"","broker":"4f184f2.a7508b","x":970,"y":200,"wires":[]},{"id":"5250562b.11d588","type":"debug","z":"78e0c2eb.32e32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":100,"wires":[]},{"id":"b37200ae.38e36","type":"mqtt in","z":"8e53108c.48e8d","name":"","topic":"detection-backup","qos":"2","datatype":"buffer","broker":"4f184f2.a7508b","x":220,"y":1140,"wires":[["98caffba.02625"]]},{"id":"98caffba.02625","type":"file","z":"8e53108c.48e8d","name":"","filename":"~/detectionImage/photo.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":520,"y":1140,"wires":[["b0ddfff8.5af168"]]},{"id":"16a2cefb.80e2b1","type":"debug","z":"78e0c2eb.32e32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":280,"wires":[]},{"id":"f778d710.7efa08","type":"debug","z":"8e53108c.48e8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":820,"wires":[]},{"id":"b18336d8.218278","type":"inject","z":"8e53108c.48e8d","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":800,"wires":[["5f275c6c.d3f024"]]},{"id":"5f275c6c.d3f024","type":"function","z":"8e53108c.48e8d","name":"","func":"msg.kill = \"SIGTERM\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":800,"wires":[["c863497e.60a048"]]},{"id":"22eb2122.5a378e","type":"debug","z":"8e53108c.48e8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":440,"wires":[]},{"id":"e9c9ff99.bb6a3","type":"debug","z":"8e53108c.48e8d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":40,"wires":[]},{"id":"7ce27116.82eb3","type":"grove digital sensor","z":"8e53108c.48e8d","name":"","board":"f0a911f2.7eba5","sensor":"dht11","repeat":"3","pin":"4","x":150,"y":240,"wires":[["8e87c8cb.7d5828"]]},{"id":"8a7a1519.206968","type":"grove analog sensor","z":"8e53108c.48e8d","name":"","pin":"2","sensor":"sound","repeat":"1","board":"f0a911f2.7eba5","x":220,"y":80,"wires":[["fafcbb6a.c1d678","e9c9ff99.bb6a3"]]},{"id":"1b9de2ef.3cba4d","type":"grove analog sensor","z":"8e53108c.48e8d","name":"","pin":"0","sensor":"light","repeat":"1","board":"f0a911f2.7eba5","x":190,"y":340,"wires":[["b5877690.3419a8","22eb2122.5a378e"]]}]