flows/flows.json
[{"id":"eec85c5d.19059","type":"tab","label":"OpenWeather","disabled":false,"info":""},{"id":"6aa27381.331b4c","type":"tab","label":"Calendar","disabled":false,"info":""},{"id":"de789932.9a1fc8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"bbc39bd3.c6786","type":"tab","label":"Sound","disabled":false,"info":""},{"id":"d6043be6.703348","type":"tab","label":"Logique","disabled":false,"info":""},{"id":"17f0bb90.e80da4","type":"websocket-listener","z":"","path":"/localhost/","wholemsg":"true"},{"id":"1cf73135.4d31cf","type":"websocket-client","z":"","path":"ws://localhost:8000/","tls":"","wholemsg":"true"},{"id":"b0b7cd77.afccc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eef74916.fa4978","type":"ui_group","z":"","name":"Capteur","tab":"9734ae72.d560e","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b1c3842.a3d8b8","type":"ui_group","z":"","name":"Actionneurs","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2071a68b.30d0ba","type":"mqtt-broker","z":"","name":"Ambiance-broker-rasp","broker":"192.168.43.226","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9734ae72.d560e","type":"ui_tab","z":"","name":"Get","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ea65dc3a.35eca","type":"ui_group","z":"","name":"Ambiance","tab":"91dd008e.824af","disp":true,"width":"6","collapse":false},{"id":"c3c9c374.d6152","type":"upnp-configuration","z":"","uuid":"","name":""},{"id":"12b900f1.beffff","type":"upnp-configuration","z":"","uuid":"dc8ae359-4280-4ebf-a46f-1f36e2a5ba85","name":"Lamp Switch"},{"id":"560b2af3.cfeb04","type":"google-credentials","z":"","displayName":""},{"id":"924798fe.ff929","type":"mpd-server","z":"","host":"192.168.43.226","port":"6600"},{"id":"845c1b29.b4fe58","type":"microsoft-api-connection","z":"","username":"iloveambiance@outlook.fr","password":"PlpdP-L42*!"},{"id":"29b6b0b6.80ac6","type":"microsoft-api-connection","z":"","username":"iloveambiance@outlook.fr","password":"PlpdP-L42*!"},{"id":"9d04e9a4.8a7f88","type":"google-conn","z":"","name":"Google","key":"{\n  \"type\": \"service_account\",\n  \"project_id\": \"quick-sentinel-264312\",\n  \"private_key_id\": \"b350a21276c04b5e165ff6baadb29e3e030b9f5c\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQClpak5AEKTtOOC\\n7mNyxEyBeN37TVNP5Lm+W+Qpx7G9xZVyNIXUPtjhJjfb9UAK8ZC1dGmIssVLf/4z\\n98FWiUx2V4YncxJL7VSPtqeFhzopGIAZNE29NVKdXJHc0OVXe+dmJuLAsDcoHnTU\\nGSo8WGbaXh8aAwJvlO9J5p7vVQM3tQC5AncgIzBHRFJ8ThSxZDVpysj56r8vsYXN\\nTiBqF6wsbDVEMf7eaPO7qlF1EYnyngiXLzyfWOe+1yY/oBhqsglciBfUwC4xsVZ+\\nCs2JpelThfiilXUgtF6eI5XwhFDq4jMb5KGhAib4BlxiTgjJj5weGi02S3uuRSKG\\n81IvGfDRAgMBAAECgf9qq7FycUq3iqCvHfl/EzNV4+2hnioIbYvB5bQtM5Bm7fq8\\n/oN5T0ij/fiNGs/Z8yOGSN7RuylSUNEZOHL/kEaIgUIsJVvsG3vGx0bQtkR0xMAC\\nVoe5UJ1QuN5aMCvJmEn9x58Zm4VXK/yiUCSZky+ES2FyzH1XXbYoczZ4n/0pTzds\\nYYpFnpcJS2/aWgUdGqe9QZSmOACbN+CNiwnOno3XHbD8wIGSJqYddMYOfZrwa35s\\n9jgDAbLHcQ1shEYnoQXNUdKnRZMo83yIMMxWWCX/qRveqzB1Sj4w0PAQlmLkSpc5\\nuCrPHoRqBxj9YWRwZv3tJ5pFqneFr+zmXLSuMnkCgYEA4WK2NX3eYtRyTfDIrGXv\\nZD4UM8sSeRY3ODRu1Nf/p3M+ovCEpMREanbsI7x446wEAve9Re+AiYGHPZ1W9OuW\\nEv/4Rd0Xk8U1VtHOj1ni7DPw/9z0n19KcpncFvi54eExAxdIqEPbfgraA1+S7xrz\\nnzOPJSp5++dn/3oFx1xnbQ8CgYEAvCWsz+05QnKOScAz9/z0gqlpG8NX7WobDLt9\\n4MRRIp+De/uVvIpCXWAWa7RqJSoq3+22LRP8wYL5NdH79vlFK5lB31HMoUu5G/u1\\n9mECkTi5aGt20OZhvATaX9+uq0yFn6/UYFztla+LKi0GYBAXxPJNNGqRyyGT5q/A\\n5mAohB8CgYEA3kiXgZwYxwnVjc7qazTBa/DZxdcC6g8h+LmlkR9SUViUruhdOY8k\\nFoghDoGkDI6rCi5BKocyEut/cSILD9SFF0oCFw0dYqy9lVmoybKR3fjAN+g4DjJR\\n30KlULaPxRluWCkPjHwYLnAPYgJRjKXdHecgxzvkQK+R3uH+bwdQLbsCgYAYje4s\\nwK/tXRf2xg/COJAMkWF3TxolkOhw0/NMpzJTi2/UeXQERCL/HrAuZEBKE2O/D73r\\nyiT9eENf48S3aba+RuUS6REEp+ZDoakQu35jR3zjBMtf3gE5UYTSaFXaY0U5HvBf\\nlyEmnN9TpMalONRxTpIG2jWmxf4QaDWLm1cOTwKBgQDKweULI8Vq0qgsirnz5BdX\\nD2jSJhtL7GTpcRxNCXq+w8xpS3UxBlXhxt0cK66pj28zluhHQRp97xpdMhlP5SRz\\nbPS6qVXRCau75CGL0FZpec05X0YLna5YZsS9LWdy8s53ZEPJcoGry3A5pPVmpeIx\\nUBYB76i0HRgRQvgVearkTQ==\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"ambiance-box@quick-sentinel-264312.iam.gserviceaccount.com\",\n  \"client_id\": \"107231392802289950120\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/ambiance-box%40quick-sentinel-264312.iam.gserviceaccount.com\"\n}\n","scopes":"https://www.googleapis.com/auth/calendar.events.readonly"},{"id":"f159bb50.29e968","type":"mqtt-broker","z":"","name":"Ambiance-broker-serv","broker":"34.76.135.146","port":"1885","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff3b38f2.065dc8","type":"ui_group","z":"","name":"Algo test","tab":"5f2f0aec.c10ba4","disp":true,"width":"6","collapse":false},{"id":"5f2f0aec.c10ba4","type":"ui_tab","z":"","name":"Main","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a8ec513.37394a","type":"google-conn","z":"","name":"Google","key":"{\n  \"type\": \"service_account\",\n  \"project_id\": \"quick-sentinel-264312\",\n  \"private_key_id\": \"ada0df7da7814d72cc4d33dca175f3cf8e21e7a6\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDu3l/UXJ0lqxPZ\\nS7KBrZxJgQzRg4hLEVBiIli9Q62R93m1YMGick2Qclv6VK+3dtQx9iLxa1dwlZZj\\nsZKNJn/YZtyZRkSKS423J+6a7SahUuVbYpq5NuAagSq9Bp+IdQlpHQMp8BHVjfpW\\nhiGBbCBdvaOtJlM+u+RFaLaxLo1LGgj0+/FYdwDGRuzDeDhvrVCJyu3/+oXnes+z\\n2YRXMnWLxAQpvSG9LlyFUGP397wUSN+Y+9aq65XQpDLr7WcYnMSbAid+bGHSoMUY\\nj+9N8QiFpWAxaFn+b5mLvnK0XFGMib12RCmP1Qv1KYvdHvcmppPdbbB/VjbXFCV3\\nr37DLbojAgMBAAECggEABPvn+E3eQ0W12DZ7Sy8v3MsHbr2xaSfVGCvkjxyJbSlL\\nGreQ4JtWJZNjJS60tNMKeJt3cJU+WkCncOPPQNVOg0Aa/TsQvYLmy09fny2W+NrP\\nxSx3jv6BBlpquuexGzFrB52ahYeGHInDzv3DI/E1DWlEdFDdTKihK+wc175ye0a8\\nkU94MZSFPI9iLAu5jqRTTymcDHU1ZUJmn+69saYbMT/kz0go2Al0Y76USrhYbkhW\\nEiJ0ebOJpJN9Lb5pvwx+tvu3sAcJuLjaTQLI8bhuHXPewmxHmL7dWD61ikRK9OOE\\natwYypkhtqpaPL53/CmL18EIOMY908CCP86AadPkCQKBgQD9yQxibiNQNRizm+pN\\nVQLbIqLmUDHN9jwYm8kT4kxwQgVPqNtdLKoSmog8YHwv2k4tVw/CTWN5k1q6BELQ\\n5fg7Rj6XAsa2B0i0AxpS9LXZhdZ1J8irHdXxgIGP5ipnFNo2oxlIt15QEsf3cPVh\\n5ijULdtLYob3qtJJszU1MZQDqwKBgQDw9ACZm7uO3ciyyXS4FScQSSYksSCkXBgD\\n5QSVc56EQ3g9Z1h/xviEeirKNeHJhuX+PwDKIaiogJij5sNWhyR75kvo/qJ3gEB3\\nrTW+DU2C4TVG9Cl0fMeeacUUS91BFN4XZPJkoZzSuYZ/WwZxsc4H1MApDb7wuEKb\\naeBSCA+raQKBgDnLqHteE8K3ZNm6f0B/RLg9ChYjW0RJeGQuTjuuBLRoBKegj9yH\\nSHAWK0J8wqtvLvCabCdW0nmkejv0rna+eKqfE6/2XOSlggQk1MDho+xW04E4vzVh\\nBRELr/Xid/OjxxI8UIzD3cGklU+ftPJHpTK1AsUHOi97AorwOgTUNp4jAoGBAN8h\\nBaE5vsD5Do7J0aVaKTeClajqwhCSG8cXgFwpmkRe+mzaU/DXv3FmdFOW/ASUQE1l\\n6IRGERohI7i7zG5HbXiy9d7IVokVIh3xL1BUn0+w35ZaKj1uA6jlx5QZAMXw3g2J\\n9JFNu5zEIxGyqFAG2IUV9fDOguAFseCbdhhg0KnpAoGBAPOhd0XVmun7htgEb6hl\\n03xvbhNgismyFpK+00lHphFCqJuOYYZgCBls6d95DDI5n/n21mKQRSIkCjlOlvmd\\n0o0UK2vRSwdf1REhRuxkw7fm6AMA5WBS9mlQ/1abjfJGxDAxqJTfjqp6hW7vLOo+\\nCzrfgy1HCpfnUToX7anj4GiR\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"ambiance-box@quick-sentinel-264312.iam.gserviceaccount.com\",\n  \"client_id\": \"107231392802289950120\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/ambiance-box%40quick-sentinel-264312.iam.gserviceaccount.com\"\n}\n","scopes":"https://www.googleapis.com/auth/calendar"},{"id":"91dd008e.824af","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8f7f7aa1.6a5fc8","type":"mpd-server","z":"","host":"localhost","port":"6600"},{"id":"e8c56e0a.08c4c","type":"ui_group","z":"","name":"Control","tab":"50e5df81.39e34","order":1,"disp":false,"width":8},{"id":"b820f3bf.7d88f","type":"ui_group","z":"","name":"Zenderkeuze","tab":"50e5df81.39e34","order":3,"disp":false,"width":8},{"id":"288000f1.a2ea3","type":"ui_group","z":"","name":"Radio","tab":"50e5df81.39e34","order":2,"disp":false,"width":8},{"id":"50e5df81.39e34","type":"ui_tab","z":"","name":"Web Radio","icon":"dashboard","order":1},{"id":"11e99757.19c329","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":4,"width":0,"height":0,"name":"","label":"Sound","format":"{{msg.payload.sound}}","layout":"row-spread","x":530,"y":200,"wires":[]},{"id":"9e41db8a.3bdf48","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":260,"wires":[]},{"id":"cd5b693f.c9bbc8","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":2,"width":0,"height":0,"name":"","label":"HeatIndex","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":380,"wires":[]},{"id":"c6ddb71a.22f0f8","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":320,"wires":[]},{"id":"39a7476a.f93c88","type":"ui_button","z":"de789932.9a1fc8","name":"","group":"eef74916.fa4978","order":5,"width":0,"height":0,"passthru":false,"label":"Request Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":20,"wires":[["37c3d64c.e3c1da"]]},{"id":"37c3d64c.e3c1da","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"request-data","qos":"","retain":"","broker":"2071a68b.30d0ba","x":550,"y":20,"wires":[]},{"id":"3024ab58.a4eb0c","type":"file in","z":"de789932.9a1fc8","name":"","filename":".node-red/Ether2.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":380,"y":1080,"wires":[["bb43c6e.0a1f738","490ac122.fea1a8"]]},{"id":"b5bfe27e.3ff1c8","type":"inject","z":"de789932.9a1fc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1080,"wires":[["3024ab58.a4eb0c"]]},{"id":"490ac122.fea1a8","type":"debug","z":"de789932.9a1fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":800,"y":1040,"wires":[]},{"id":"bb43c6e.0a1f738","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"audio-file","qos":"2","retain":"","broker":"2071a68b.30d0ba","x":790,"y":1120,"wires":[]},{"id":"5aef9927.2e3928","type":"inject","z":"de789932.9a1fc8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":1160,"wires":[["bb43c6e.0a1f738"]]},{"id":"5647abb8.23e0a4","type":"mqtt in","z":"de789932.9a1fc8","name":"loudness-data","topic":"AB/ambiance-box1/sensors/loudness/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":150,"y":200,"wires":[["3d80d76.0194b28"]]},{"id":"e286afdf.e2b5f","type":"mqtt in","z":"de789932.9a1fc8","name":"light-data","topic":"AB/ambiancebox1/light/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":140,"y":440,"wires":[["7b6091e6.c8475"]]},{"id":"2afb3464.c6cf2c","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":8,"width":0,"height":0,"name":"","label":"Light","format":"{{msg.payload.lux}}","layout":"row-spread","x":530,"y":440,"wires":[]},{"id":"3d80d76.0194b28","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":200,"wires":[["11e99757.19c329","eb0adf3c.6af4e"]]},{"id":"7b6091e6.c8475","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":440,"wires":[["2afb3464.c6cf2c","654f5e0b.e3d0f"]]},{"id":"c7d112cd.3ae07","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"AB/ambiance-box1/led-color","qos":"2","retain":"","broker":"2071a68b.30d0ba","x":940,"y":680,"wires":[]},{"id":"93d4f9ad.072978","type":"mqtt in","z":"de789932.9a1fc8","name":"","topic":"AB/ambiance-box1/send-people-count","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":230,"y":500,"wires":[["57095ae6.efdfe4","89906afd.5dcfd8"]]},{"id":"57095ae6.efdfe4","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":1,"width":0,"height":0,"name":"","label":"People Count","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":500,"wires":[]},{"id":"b92ccb47.353f28","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":260,"wires":[["9e41db8a.3bdf48"]]},{"id":"1187be30.26f242","type":"mqtt in","z":"de789932.9a1fc8","name":"temperature-data","topic":"AB/ambiance-box1/sensors/dht11/+/temperature/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":160,"y":260,"wires":[["b92ccb47.353f28"]]},{"id":"17cfd86e.4870d8","type":"mqtt in","z":"de789932.9a1fc8","name":"humidity-data","topic":"AB/ambiance-box1/sensors/dht11/+/humidity/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":150,"y":320,"wires":[["a44ef0de.b62df"]]},{"id":"a44ef0de.b62df","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":320,"wires":[["c6ddb71a.22f0f8","9819544a.45df68"]]},{"id":"e4fb5ef0.a0729","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":380,"wires":[["cd5b693f.c9bbc8","82b0dfd9.e4289"]]},{"id":"88e217df.92c5b8","type":"mqtt in","z":"de789932.9a1fc8","name":"heatindex-data","topic":"AB/ambiance-box1/sensors/dht11/+/heatindex/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":160,"y":380,"wires":[["e4fb5ef0.a0729"]]},{"id":"b5229b8a.e32cc8","type":"debug","z":"de789932.9a1fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":540,"wires":[]},{"id":"b2b9eca6.c79158","type":"function","z":"bbc39bd3.c6786","name":"search","func":"msg.payload = 'search title ' + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["4daecd45.1a808c"]]},{"id":"e42fcd16.f2712","type":"inject","z":"bbc39bd3.c6786","name":"","topic":"","payload":"synthwave","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["6320ac82.c5574c","913e4e78.622de"]]},{"id":"2f7fa3f2.bee294","type":"function","z":"bbc39bd3.c6786","name":"add","func":"if(Array.isArray(msg.payload) && 'file' in msg.payload[0]){\n    msg.payload = `add '${msg.payload[0].file}'`;\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["423dc335.d796c4","4daecd45.1a808c","f6142309.950478"]]},{"id":"4daecd45.1a808c","type":"mpd out","z":"bbc39bd3.c6786","name":"","topic":"","server":"924798fe.ff929","x":680,"y":80,"wires":[["2f7fa3f2.bee294","f6142309.950478"]]},{"id":"6320ac82.c5574c","type":"function","z":"bbc39bd3.c6786","name":"clear queue","func":"msg.payload = 'clear';\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["4daecd45.1a808c"]]},{"id":"913e4e78.622de","type":"delay","z":"bbc39bd3.c6786","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":100,"wires":[["b2b9eca6.c79158"]]},{"id":"f6142309.950478","type":"debug","z":"bbc39bd3.c6786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":120,"wires":[]},{"id":"293ee8ef.a53208","type":"function","z":"bbc39bd3.c6786","name":"play","func":"msg.payload = 'play';\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["4daecd45.1a808c"]]},{"id":"423dc335.d796c4","type":"delay","z":"bbc39bd3.c6786","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":300,"wires":[["293ee8ef.a53208"]]},{"id":"c4006377.e70c18","type":"function","z":"bbc39bd3.c6786","name":"clear & trigger research","func":"msg.payload = {cmd: 'clear; pkill mopidy; $(mopidy &); sleep 1', cmd_name: 'clear', data: '\"' + msg.payload +'\"'};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["a854779c.691928"]]},{"id":"a854779c.691928","type":"mqtt out","z":"bbc39bd3.c6786","name":"","topic":"mpd-control","qos":"2","retain":"","broker":"2071a68b.30d0ba","x":770,"y":500,"wires":[]},{"id":"e9667ce7.f581b","type":"function","z":"bbc39bd3.c6786","name":"search, add & play","func":"switch(msg.payload.cmd_name){\n    case 'clear':\n        if(msg.payload.data){     \n            msg.payload.cmd_name = 'search';\n            msg.payload.cmd = `search title ${msg.payload.data}`;\n            //msg.payload.data = msg.payload.data;   \n        }\n        return msg;\n    case 'search':\n        msg.payload.cmd_name = 'add';\n        msg.payload.cmd = 'add \"' + msg.payload.results[1] + '\"';\n        return msg;\n    case 'add':\n        msg.payload.cmd = 'play';\n        msg.payload.cmd_name = 'play';\n        return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["a854779c.691928"]]},{"id":"2ed1062.2a907fa","type":"mqtt in","z":"bbc39bd3.c6786","name":"","topic":"mpd-receive","qos":"2","datatype":"json","broker":"2071a68b.30d0ba","x":130,"y":620,"wires":[["e9667ce7.f581b","8650b845.164cb"]]},{"id":"8650b845.164cb","type":"debug","z":"bbc39bd3.c6786","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":700,"wires":[]},{"id":"997cfa4f.c009e","type":"function","z":"bbc39bd3.c6786","name":"stop","func":"msg.payload = {\n    cmd_name: 'clear', \n    cmd: 'clear'\n}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["a854779c.691928"]]},{"id":"cdcc1749.3a044","type":"inject","z":"bbc39bd3.c6786","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["997cfa4f.c009e"]]},{"id":"505b135a.38fc3c","type":"link in","z":"bbc39bd3.c6786","name":"clear+search","links":["a045dd40.75d9e","ed6e3d07.bde1c"],"x":175,"y":540,"wires":[["c4006377.e70c18"]]},{"id":"a045dd40.75d9e","type":"link out","z":"de789932.9a1fc8","name":"musique_name","links":["505b135a.38fc3c"],"x":335,"y":760,"wires":[]},{"id":"edc77f00.7529f8","type":"ui_slider","z":"de789932.9a1fc8","name":"","label":"Volume","tooltip":"","group":"ea65dc3a.35eca","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"5","max":"20","step":1,"x":160,"y":820,"wires":[["c1ad82b7.8814a8"]]},{"id":"c1ad82b7.8814a8","type":"trigger","z":"de789932.9a1fc8","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":380,"y":820,"wires":[["1ee508f8.d50737"]]},{"id":"d40231dd.73d15","type":"link out","z":"de789932.9a1fc8","name":"stop_ambiance","links":["f4329c62.a9aec8","8cf7f332.1986f"],"x":455,"y":960,"wires":[]},{"id":"1ee508f8.d50737","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"modify-volume","qos":"2","retain":"","broker":"2071a68b.30d0ba","x":680,"y":800,"wires":[]},{"id":"39e0f0b.8a98b9","type":"ui_button","z":"de789932.9a1fc8","name":"","group":"ea65dc3a.35eca","order":5,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":900,"wires":[["d40231dd.73d15","a4ae493d.0b56a"]]},{"id":"a4ae493d.0b56a","type":"function","z":"de789932.9a1fc8","name":"set ambiance id","func":"msg.payload = [3];\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":880,"wires":[[]]},{"id":"fba42fb8.b7a34","type":"function","z":"bbc39bd3.c6786","name":"clear","func":"msg.payload = {cmd: 'clear', cmd_name: 'clear', data: undefined};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["a854779c.691928"]]},{"id":"8cf7f332.1986f","type":"link in","z":"bbc39bd3.c6786","name":"clear","links":["d40231dd.73d15"],"x":175,"y":500,"wires":[["fba42fb8.b7a34"]]},{"id":"65573ba1.b09cf4","type":"openweathermap","z":"eec85c5d.19059","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":530,"y":240,"wires":[["2651baf.498f146"]]},{"id":"bb95f75e.7f2aa8","type":"link in","z":"eec85c5d.19059","name":"OpenWeather_entry","links":["35bbc28e.a58ede"],"x":195,"y":240,"wires":[["fd78d65f.cb88e8"]]},{"id":"a4d7bb3b.bcdcd8","type":"link out","z":"eec85c5d.19059","name":"OpenWeather_output","links":["cdaf76e0.6239a8"],"x":835,"y":240,"wires":[]},{"id":"2651baf.498f146","type":"function","z":"eec85c5d.19059","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":240,"wires":[["a4d7bb3b.bcdcd8"]]},{"id":"fd78d65f.cb88e8","type":"change","z":"eec85c5d.19059","name":"Set location","rules":[{"t":"set","p":"location.city","pt":"msg","to":"city","tot":"flow"},{"t":"set","p":"location.country","pt":"msg","to":"country","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["65573ba1.b09cf4"]]},{"id":"77fde247.96fc0c","type":"function","z":"eec85c5d.19059","name":"Modify OpenWeather Configuration","func":"flow.set('city', msg.payload.city);\nflow.set('country', msg.payload.country);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":420,"wires":[[]]},{"id":"a4f4bd8a.0df56","type":"mqtt in","z":"eec85c5d.19059","name":"","topic":"AB/serv/weather","qos":"2","datatype":"auto","broker":"f159bb50.29e968","x":220,"y":420,"wires":[["64af64bd.76014c"]]},{"id":"98315270.b22f9","type":"function","z":"d6043be6.703348","name":"build state","func":"let state = msg.payload\nif(!state.calendar){\n    state.currentEvent.end = new Date(state.currentEvent.end).getTime();\n}\n/*payload example1\n\n{\n    nbPers: 10,\n    lum: 50,  //0..100\n    currentEvent: {\n        end: Date.now(),\n        ambiance: 'electro'\n    },\n}\n\n{\n    nbPers: 10,\n    lum: 50,  //0..100\n    currentEvent: undefined\n}\n\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["400c310e.e4084"]]},{"id":"400c310e.e4084","type":"function","z":"d6043be6.703348","name":"preprocessing & routing ","func":"//=== preprocessing + add current ambiance to state ====\nlet state;\nlet previousState = global.get('state');\n\nstate = msg.payload;\nstate.currentAmbiance = previousState ? previousState.currentAmbiance : 'none';\nstate.presenceLevel = state.nbPers;\n\n\n//==== routing ====\n\nmsg.payload = state;\n\nif(state.currentEvent){\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n\n\nreturn msg;","outputs":2,"noerr":0,"x":590,"y":460,"wires":[["49976f24.0b293"],["e18c21d0.4d6a2"]]},{"id":"49976f24.0b293","type":"function","z":"d6043be6.703348","name":"event ambiance control","func":"let state = msg.payload;\n\n\nfunction setEventAmbiance(state){\n    var ambiance = state.currentEvent.ambiance\n    state.currentAmbiance = ambiance\n    state.modifyAmbiance = ambiance;\n}\n\nfunction stopAmbiance(state){\n    state.currentAmbiance = 'none';\n    state.modifyAmbiance = 'none';\n}\n\n\nif(state.currentAmbiance != state.currentEvent.ambiance) { //decide to start event ambiance or not\n    if(state.presenceLevel >= 1){\n        setEventAmbiance(state)\n    } else {\n        \n    }\n\n} else { //decide to stop event ambiance or not\n    if(state.presenceLevel < 1){\n        stopAmbiance(state)\n    }\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":890,"y":400,"wires":[["bc4c3428.f21198","6dc4338e.7035bc"]]},{"id":"e18c21d0.4d6a2","type":"function","z":"d6043be6.703348","name":"normal ambiance control","func":"let state = msg.payload;    \n\nfunction setAmbiance(state, ambiance){\n    if(state.currentAmbiance != ambiance){\n        state.currentAmbiance = ambiance;\n        state.modifyAmbiance = ambiance;\n    }\n}\nfunction stopAmbiance(state){\n    setAmbiance(state, 'none')\n}\n\nconst WEATHER_ENUM = {clear: 'clear', cloud: 'clouds', rain: 'rain', snow: 'snow'}\n\nif (state.presenceLevel === -1){\n    stopAmbiance(state)\n} else if (state.weather != \"No connection\") {\n    let weather = state.weather.toLowerCase();\n    let word = Object.values(WEATHER_ENUM).find(word => weather.includes(word));\n   \n    switch(word){\n        case WEATHER_ENUM.clear:\n            setAmbiance(state, 'chill');\n            break;\n        case WEATHER_ENUM.cloud:\n        case WEATHER_ENUM.rain:\n        case WEATHER_ENUM.snow:\n            setAmbiance(state, 'warm');\n            break;\n    }\n} else {\n    /*if (state.lux < 50 && state.Temp < 20){\n        setAmbiance(state,\"warm\");\n    }else if (state.lux >50 && state.Temp >20 ){\n        setAmbiance(state,\"chill\");\n    }else {\n        setAmbiance(state,\"warm\");\n    }*/setAmbiance(state, \"warm\");\n}\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":520,"wires":[["bc4c3428.f21198","ccfbc983.82e898"]]},{"id":"bc4c3428.f21198","type":"function","z":"d6043be6.703348","name":"store global state","func":"global.set('state', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":460,"wires":[["722a3cbb.824ac4","f02ae222.48ec2"]]},{"id":"722a3cbb.824ac4","type":"ui_text","z":"d6043be6.703348","group":"ea65dc3a.35eca","order":1,"width":0,"height":0,"name":"","label":"ambiance en cours","format":"{{msg.payload.modifyAmbiance}}","layout":"row-spread","x":1410,"y":380,"wires":[]},{"id":"f02ae222.48ec2","type":"function","z":"d6043be6.703348","name":"map actions if new ambiance","func":"let state = msg.payload;\n\n\nlet map = {\n    chill: {\n        music: 'chillpop', \n        volume: 15, \n        led: \"python3 ~/RPI-led/rpi-ws281x-python/examples/chill.py\"\n    },\n    \n    romantic: {\n        music: 'jazz romantic', \n        volume: 12, \n        led: \"python3 ~/RPI-led/rpi-ws281x-python/examples/romantic.py\"\n    },\n    \n    warm: {\n        music: 'campfire sound', \n        volume: 9, \n        led: \"python3 ~/RPI-led/rpi-ws281x-python/examples/warm.py\" \n    },\n    \n    none: {\n        music:'',\n        volume: 5,\n        led : \"python3 ~/RPI-led/rpi-ws281x-python/examples/off.py\"\n    }\n}\n\nif(state.modifyAmbiance && state.modifyAmbiance in map){\n   \n   let actions = map[state.modifyAmbiance];\n   let messages = Object.values(actions).map(payload => {\n       let _msg = JSON.parse(JSON.stringify(msg));\n       _msg.payload = payload;\n       return _msg;\n   })\n    return messages; //Array\n}\n\n","outputs":3,"noerr":0,"x":1450,"y":460,"wires":[["d8ad911a.d1cea","ed6e3d07.bde1c"],["d883bec7.d80f8","b865467.b7601b8"],["63f63bc8.c9dc04","c7efce42.47b8d"]]},{"id":"cdaf76e0.6239a8","type":"link in","z":"d6043be6.703348","name":"Openweather-logique","links":["a4d7bb3b.bcdcd8"],"x":215,"y":300,"wires":[["5b62411c.5ce94"]]},{"id":"89906afd.5dcfd8","type":"link out","z":"de789932.9a1fc8","name":"People-count","links":["d386c031.f5c6"],"x":675,"y":500,"wires":[]},{"id":"d386c031.f5c6","type":"link in","z":"d6043be6.703348","name":"People-logique","links":["89906afd.5dcfd8"],"x":215,"y":140,"wires":[["bf015910.43c808"]]},{"id":"f994b290.e4cd7","type":"link in","z":"d6043be6.703348","name":"Calendar-logique","links":["ce8e5f24.6b888"],"x":215,"y":340,"wires":[["4a0fbdf.2b84c44"]]},{"id":"654f5e0b.e3d0f","type":"link out","z":"de789932.9a1fc8","name":"light-info","links":["4c0b9cf0.60e024"],"x":675,"y":440,"wires":[]},{"id":"eb0adf3c.6af4e","type":"link out","z":"de789932.9a1fc8","name":"Loudness-info","links":["d8a2087b.5ae9d8"],"x":675,"y":200,"wires":[]},{"id":"bf015910.43c808","type":"function","z":"d6043be6.703348","name":"Check people number changed","func":"var old_value = context.get('oldvalue') || 0;\nvar new_value = parseInt(msg.payload);\nif (old_value != new_value){\n    context.set('oldvalue', old_value);\n    var msg1= {};\n    msg1.payload= {\"nbPers\" : new_value};\n    return msg1 ;  \n}\n","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["4a0fbdf.2b84c44","91232cbd.bfea5","35bbc28e.a58ede","338c4d40.8d8e42"]]},{"id":"4a0fbdf.2b84c44","type":"join","z":"d6043be6.703348","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":80,"wires":[["ec144d6.6ef19b","98315270.b22f9"]]},{"id":"ec144d6.6ef19b","type":"debug","z":"d6043be6.703348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":40,"wires":[]},{"id":"91232cbd.bfea5","type":"mqtt out","z":"d6043be6.703348","name":"","topic":"request-data","qos":"","retain":"","broker":"2071a68b.30d0ba","x":750,"y":180,"wires":[]},{"id":"35bbc28e.a58ede","type":"link out","z":"d6043be6.703348","name":"get-weatherdata","links":["bb95f75e.7f2aa8"],"x":695,"y":240,"wires":[]},{"id":"338c4d40.8d8e42","type":"link out","z":"d6043be6.703348","name":"get-calendardata","links":["7c9bd481.38ea7c"],"x":695,"y":280,"wires":[]},{"id":"9819544a.45df68","type":"link out","z":"de789932.9a1fc8","name":"humidity-info","links":["aabefd3f.012ba"],"x":675,"y":320,"wires":[]},{"id":"82b0dfd9.e4289","type":"link out","z":"de789932.9a1fc8","name":"felt-temp-info","links":["7fd65a85.480c04"],"x":675,"y":380,"wires":[]},{"id":"7fd65a85.480c04","type":"link in","z":"d6043be6.703348","name":"felt-temp-logique","links":["82b0dfd9.e4289"],"x":215,"y":260,"wires":[["68c4b9fd.9d9268"]]},{"id":"aabefd3f.012ba","type":"link in","z":"d6043be6.703348","name":"humidity-logique","links":["9819544a.45df68"],"x":215,"y":220,"wires":[["56d08238.004d2c"]]},{"id":"56d08238.004d2c","type":"function","z":"d6043be6.703348","name":"Formatting","func":"var new_value = msg.payload;\nvar msg1= {};\nmsg1.payload= {\"Humidity\" : new_value};\nreturn msg1 ;  \n\n","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["4a0fbdf.2b84c44"]]},{"id":"68c4b9fd.9d9268","type":"function","z":"d6043be6.703348","name":"Formatting","func":"var new_value = msg.payload;\nvar msg1= {};\nmsg1.payload= {\"Temp\" : new_value};\nreturn msg1 ;  \n\n","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["4a0fbdf.2b84c44"]]},{"id":"5b62411c.5ce94","type":"function","z":"d6043be6.703348","name":"Formatting","func":"var new_value = msg.payload.weather;\nvar msg1= {};\nmsg1.payload= {\"weather\" : new_value};\nreturn msg1 ;  \n\n","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["4a0fbdf.2b84c44"]]},{"id":"8f56937f.f88a","type":"link in","z":"de789932.9a1fc8","name":"Led-control-logique","links":["bf03fe9d.e780e","c7efce42.47b8d"],"x":680,"y":640,"wires":[["c7d112cd.3ae07"]]},{"id":"d8ad911a.d1cea","type":"debug","z":"d6043be6.703348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":420,"wires":[]},{"id":"63f63bc8.c9dc04","type":"debug","z":"d6043be6.703348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":500,"wires":[]},{"id":"d883bec7.d80f8","type":"debug","z":"d6043be6.703348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1750,"y":460,"wires":[]},{"id":"ed6e3d07.bde1c","type":"link out","z":"d6043be6.703348","name":"logique-musique","links":["505b135a.38fc3c"],"x":1695,"y":380,"wires":[]},{"id":"b865467.b7601b8","type":"link out","z":"d6043be6.703348","name":"logique-volume","links":["f4329c62.a9aec8","e89376e0.94e898"],"x":1875,"y":460,"wires":[]},{"id":"c7efce42.47b8d","type":"link out","z":"d6043be6.703348","name":"logique-led","links":["8f56937f.f88a"],"x":1695,"y":540,"wires":[]},{"id":"ccfbc983.82e898","type":"debug","z":"d6043be6.703348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":560,"wires":[]},{"id":"6dc4338e.7035bc","type":"debug","z":"d6043be6.703348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":300,"wires":[]},{"id":"64af64bd.76014c","type":"json","z":"eec85c5d.19059","name":"","property":"payload","action":"","pretty":false,"x":390,"y":420,"wires":[["77fde247.96fc0c","b9de3c71.d7d71"]]},{"id":"d4aea125.d990f","type":"inject","z":"d6043be6.703348","name":"","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["bf015910.43c808"]]},{"id":"705fde41.7621b","type":"debug","z":"6aa27381.331b4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":200,"wires":[]},{"id":"2c52ae83.300af2","type":"change","z":"6aa27381.331b4c","name":"Get current date","rules":[{"t":"set","p":"time","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":320,"wires":[["c123b2ff.17a8e"]]},{"id":"ce8e5f24.6b888","type":"link out","z":"6aa27381.331b4c","name":"Calendar-info","links":["f994b290.e4cd7"],"x":1015,"y":320,"wires":[]},{"id":"c123b2ff.17a8e","type":"function","z":"6aa27381.331b4c","name":"Form payload","func":"msg.payload = {\"calendarId\":\"calvinaudier@gmail.com\", \"timeMin\": msg.time}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["2b217e49.ee0762"]]},{"id":"2b217e49.ee0762","type":"google","z":"6aa27381.331b4c","name":"","google":"3a8ec513.37394a","api":"calendar:v3","operation":"events.list","x":650,"y":320,"wires":[["46538b59.5c1234"]]},{"id":"46538b59.5c1234","type":"function","z":"6aa27381.331b4c","name":"Check For Events","func":"if(msg.payload.items.length===0){\n    msg.payload = {};\n    msg.payload.calendar = \"No events\";\n    return msg;\n}\n\nvar item = msg.payload.items[0];\nvar start = new Date(item.start.dateTime);\nvar end = new Date(item.end.dateTime);\nvar startTime = start.getTime();\nvar endTime = end.getTime();\nvar now = Date.now();\n\nif (startTime <= now && endTime > now) {\n    msg.payload = {\"currentEvent\": {\"ambiance\": item.summary, \"end\": end}};\n}\nelse{\n    msg.payload = {};\n    msg.payload.calendar = \"No events\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":320,"wires":[["705fde41.7621b","ce8e5f24.6b888"]]},{"id":"a5ea2ada.5dee28","type":"inject","z":"eec85c5d.19059","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":480,"wires":[["1f0b1beb.f22bf4"]]},{"id":"1f0b1beb.f22bf4","type":"function","z":"eec85c5d.19059","name":"Save  Start State","func":"flow.set('city', \"Biot\");\nflow.set('country', \"France\");\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":480,"wires":[[]]},{"id":"7c9bd481.38ea7c","type":"link in","z":"6aa27381.331b4c","name":"","links":["338c4d40.8d8e42"],"x":80,"y":320,"wires":[["2c52ae83.300af2"]]},{"id":"7cbe83aa.1050dc","type":"inject","z":"6aa27381.331b4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":220,"wires":[["2c52ae83.300af2"]]},{"id":"39de21bc.46016e","type":"catch","z":"6aa27381.331b4c","name":"","scope":null,"uncaught":false,"x":720,"y":400,"wires":[["d10178f6.9a3ad8"]]},{"id":"d10178f6.9a3ad8","type":"change","z":"6aa27381.331b4c","name":"No Events ","rules":[{"t":"set","p":"payload.calendar","pt":"msg","to":"No events","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":400,"wires":[["ce8e5f24.6b888"]]},{"id":"819164df.443558","type":"catch","z":"eec85c5d.19059","name":"","scope":null,"uncaught":false,"x":540,"y":300,"wires":[["1879ca75.e22ce6"]]},{"id":"1879ca75.e22ce6","type":"change","z":"eec85c5d.19059","name":"No Connection","rules":[{"t":"set","p":"payload.weather","pt":"msg","to":"No connection","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":300,"wires":[["a4d7bb3b.bcdcd8"]]},{"id":"6dcd309c.69a3b","type":"function","z":"6aa27381.331b4c","name":"Change Config Calendar","func":"flow.set('calendar', msg.payload.calendar);\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":560,"wires":[[]]},{"id":"42401cf1.8b2744","type":"mqtt in","z":"6aa27381.331b4c","name":"","topic":"AB/serv/calendar","qos":"2","datatype":"auto","broker":"f159bb50.29e968","x":480,"y":560,"wires":[["7ce41ca7.556a14"]]},{"id":"7ce41ca7.556a14","type":"json","z":"6aa27381.331b4c","name":"","property":"payload","action":"","pretty":false,"x":650,"y":560,"wires":[["6dcd309c.69a3b","b34b1706.ba4178"]]},{"id":"3831f516.a5961a","type":"inject","z":"d6043be6.703348","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["bf015910.43c808"]]},{"id":"18e13102.0e875f","type":"mqtt in","z":"d6043be6.703348","name":"","topic":"AB/ambiance-box1/put-back-ambiance","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":190,"y":640,"wires":[["40cef436.f5d1ec","e8c35c85.e1545"]]},{"id":"d3cfa88f.72c5b8","type":"inject","z":"d6043be6.703348","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["bf015910.43c808"]]},{"id":"40cef436.f5d1ec","type":"function","z":"d6043be6.703348","name":"","func":"let state =  global.get('state');\nif(state){\n    msg.payload = {modifyAmbiance : state.currentAmbiance};\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":670,"y":640,"wires":[["f02ae222.48ec2"]]},{"id":"b9de3c71.d7d71","type":"debug","z":"eec85c5d.19059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":380,"wires":[]},{"id":"b34b1706.ba4178","type":"debug","z":"6aa27381.331b4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":500,"wires":[]},{"id":"e8c35c85.e1545","type":"debug","z":"d6043be6.703348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":760,"wires":[]},{"id":"e89376e0.94e898","type":"link in","z":"de789932.9a1fc8","name":"","links":["b865467.b7601b8"],"x":520,"y":780,"wires":[["1ee508f8.d50737"]]},{"id":"4c0b9cf0.60e024","type":"link in","z":"d6043be6.703348","name":"light-logique","links":["654f5e0b.e3d0f"],"x":215,"y":100,"wires":[["4a0fbdf.2b84c44"]]},{"id":"d8a2087b.5ae9d8","type":"link in","z":"d6043be6.703348","name":"Loudness-logique","links":["eb0adf3c.6af4e"],"x":215,"y":60,"wires":[["4a0fbdf.2b84c44"]]},{"id":"5b2cdb8f.4852fc","type":"ui_dropdown","z":"d6043be6.703348","name":"","label":"","tooltip":"","place":"Select option","group":"ff3b38f2.065dc8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"warm","value":"warm","type":"str"},{"label":"chill","value":"chill","type":"str"},{"label":"romantic","value":"romantic","type":"str"},{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1160,"y":600,"wires":[["585a9a81.bd7044"]]},{"id":"585a9a81.bd7044","type":"function","z":"d6043be6.703348","name":"","func":"msg.payload = {\"modifyAmbiance\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":540,"wires":[["bc4c3428.f21198"]]},{"id":"78280167.6bebe8","type":"inject","z":"bbc39bd3.c6786","name":"","topic":"","payload":"jazz romantic","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["c4006377.e70c18"]]}]
