flows/flows.json
[{"id":"eec85c5d.19059","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"de789932.9a1fc8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"e592aa7.9578258","type":"tab","label":"Sort sensors data","disabled":false,"info":""},{"id":"413df1c6.c7f9d","type":"tab","label":"Calendar","disabled":false,"info":""},{"id":"bbc39bd3.c6786","type":"tab","label":"Sound","disabled":false,"info":""},{"id":"17f0bb90.e80da4","type":"websocket-listener","z":"","path":"/localhost/","wholemsg":"true"},{"id":"1cf73135.4d31cf","type":"websocket-client","z":"","path":"ws://localhost:8000/","tls":"","wholemsg":"true"},{"id":"b0b7cd77.afccc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eef74916.fa4978","type":"ui_group","z":"","name":"Capteur","tab":"9734ae72.d560e","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b1c3842.a3d8b8","type":"ui_group","z":"","name":"Actionneurs","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2071a68b.30d0ba","type":"mqtt-broker","z":"","name":"Ambiance-broker-rasp","broker":"192.168.43.226","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9734ae72.d560e","type":"ui_tab","z":"","name":"Get","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ea65dc3a.35eca","type":"ui_group","z":"","name":"Actionneurs","tab":"9734ae72.d560e","disp":true,"width":"6","collapse":false},{"id":"c3c9c374.d6152","type":"upnp-configuration","z":"","uuid":"","name":""},{"id":"12b900f1.beffff","type":"upnp-configuration","z":"","uuid":"dc8ae359-4280-4ebf-a46f-1f36e2a5ba85","name":"Lamp Switch"},{"id":"560b2af3.cfeb04","type":"google-credentials","z":"","displayName":""},{"id":"924798fe.ff929","type":"mpd-server","z":"","host":"192.168.43.226","port":"6600"},{"id":"845c1b29.b4fe58","type":"microsoft-api-connection","z":"","username":"iloveambiance@outlook.fr","password":"PlpdP-L42*!"},{"id":"29b6b0b6.80ac6","type":"microsoft-api-connection","z":"","username":"iloveambiance@outlook.fr","password":"PlpdP-L42*!"},{"id":"d4c53ce2.0a92f","type":"inject","z":"eec85c5d.19059","name":"","topic":"","payload":"hello server","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["4326f37b.7d0fbc"]]},{"id":"4326f37b.7d0fbc","type":"websocket out","z":"eec85c5d.19059","name":"[WebSocket] send to server","server":"","client":"1cf73135.4d31cf","x":440,"y":380,"wires":[]},{"id":"ceaa9f48.25db9","type":"change","z":"413df1c6.c7f9d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello, tonight even will start in 30 minutes, we are impatient to welcome you!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":280,"wires":[["b19ea29f.2e013"]]},{"id":"425d8f5.0b5ab7","type":"http in","z":"413df1c6.c7f9d","name":"","url":"/calendar","method":"post","upload":false,"swaggerDoc":"","x":400,"y":280,"wires":[["38a5a7e5.1c6478","318fecb6.919ce4"]]},{"id":"38a5a7e5.1c6478","type":"http response","z":"413df1c6.c7f9d","name":"","statusCode":"200","headers":{},"x":580,"y":180,"wires":[]},{"id":"9d40ffc1.752cf","type":"link in","z":"413df1c6.c7f9d","name":"","links":["f62eb08a.e1e45"],"x":335,"y":340,"wires":[["431a5fe0.671b2"]]},{"id":"318fecb6.919ce4","type":"switch","z":"413df1c6.c7f9d","name":"","property":"issoundalerton","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":280,"wires":[["ceaa9f48.25db9"]]},{"id":"431a5fe0.671b2","type":"change","z":"413df1c6.c7f9d","name":"","rules":[{"t":"set","p":"issoundalerton","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[[]]},{"id":"b19ea29f.2e013","type":"link out","z":"413df1c6.c7f9d","name":"SoundMessage","links":["3396937c.a27f0c"],"x":935,"y":280,"wires":[]},{"id":"11e99757.19c329","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":4,"width":0,"height":0,"name":"","label":"Sound","format":"{{msg.payload.sound}}","layout":"row-spread","x":530,"y":180,"wires":[]},{"id":"9e41db8a.3bdf48","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":240,"wires":[]},{"id":"cd5b693f.c9bbc8","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":2,"width":0,"height":0,"name":"","label":"HeatIndex","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":360,"wires":[]},{"id":"c6ddb71a.22f0f8","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":300,"wires":[]},{"id":"39a7476a.f93c88","type":"ui_button","z":"de789932.9a1fc8","name":"","group":"eef74916.fa4978","order":5,"width":0,"height":0,"passthru":false,"label":"Request Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":20,"wires":[["37c3d64c.e3c1da"]]},{"id":"37c3d64c.e3c1da","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"request-data","qos":"","retain":"","broker":"2071a68b.30d0ba","x":550,"y":20,"wires":[]},{"id":"3024ab58.a4eb0c","type":"file in","z":"de789932.9a1fc8","name":"","filename":".node-red/Ether2.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":520,"y":880,"wires":[["bb43c6e.0a1f738","490ac122.fea1a8"]]},{"id":"b5bfe27e.3ff1c8","type":"inject","z":"de789932.9a1fc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":880,"wires":[["3024ab58.a4eb0c"]]},{"id":"490ac122.fea1a8","type":"debug","z":"de789932.9a1fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":940,"y":840,"wires":[]},{"id":"bb43c6e.0a1f738","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"audio-file","qos":"2","retain":"","broker":"2071a68b.30d0ba","x":930,"y":920,"wires":[]},{"id":"5aef9927.2e3928","type":"inject","z":"de789932.9a1fc8","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":960,"wires":[["bb43c6e.0a1f738"]]},{"id":"ccf19ce8.8c2ea","type":"ui_button","z":"de789932.9a1fc8","name":"","group":"eef74916.fa4978","order":5,"width":0,"height":0,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["eceae24a.10581"]]},{"id":"eceae24a.10581","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"play-music","qos":"","retain":"","broker":"2071a68b.30d0ba","x":550,"y":60,"wires":[]},{"id":"851dc127.3e667","type":"ui_slider","z":"de789932.9a1fc8","name":"","label":"Volume","tooltip":"","group":"eef74916.fa4978","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":140,"y":120,"wires":[["fd0cc1f0.f6938"]]},{"id":"c0163062.c3449","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"modify-volume","qos":"","retain":"","broker":"2071a68b.30d0ba","x":560,"y":120,"wires":[]},{"id":"fd0cc1f0.f6938","type":"trigger","z":"de789932.9a1fc8","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":360,"y":120,"wires":[["c0163062.c3449"]]},{"id":"aed3d1bf.50db4","type":"json","z":"e592aa7.9578258","name":"","property":"payload","action":"","pretty":false,"x":350,"y":200,"wires":[["a81729fa.cf3fb8"]]},{"id":"a81729fa.cf3fb8","type":"split","z":"e592aa7.9578258","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":220,"y":300,"wires":[["a546b0c6.b1c08"]]},{"id":"a546b0c6.b1c08","type":"switch","z":"e592aa7.9578258","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"heatIndex","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":480,"y":300,"wires":[["13064cb5.1c1863"],["6c23c991.d22de8"],["b7115f84.c0472"]]},{"id":"13064cb5.1c1863","type":"link out","z":"e592aa7.9578258","name":"TemperatureData","links":["7e5a72c9.5c182c"],"x":695,"y":260,"wires":[]},{"id":"6c23c991.d22de8","type":"link out","z":"e592aa7.9578258","name":"HumidityData","links":["a95627a9.9f3d28"],"x":695,"y":320,"wires":[]},{"id":"b7115f84.c0472","type":"link out","z":"e592aa7.9578258","name":"HeatData","links":["31c52ed2.34a5e2"],"x":695,"y":360,"wires":[]},{"id":"5647abb8.23e0a4","type":"mqtt in","z":"de789932.9a1fc8","name":"loudness-data","topic":"AB/ambiance-box1/sensors/loudness/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":150,"y":180,"wires":[["3d80d76.0194b28"]]},{"id":"e286afdf.e2b5f","type":"mqtt in","z":"de789932.9a1fc8","name":"light-data","topic":"AB/ambiancebox1/light/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":140,"y":420,"wires":[["7b6091e6.c8475"]]},{"id":"2afb3464.c6cf2c","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":8,"width":0,"height":0,"name":"","label":"Light","format":"{{msg.payload.lux}}","layout":"row-spread","x":530,"y":420,"wires":[]},{"id":"3d80d76.0194b28","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":180,"wires":[["11e99757.19c329"]]},{"id":"7b6091e6.c8475","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":420,"wires":[["a377e261.fa2ec","2afb3464.c6cf2c"]]},{"id":"c7d112cd.3ae07","type":"mqtt out","z":"de789932.9a1fc8","name":"","topic":"led-color","qos":"2","retain":"","broker":"2071a68b.30d0ba","x":880,"y":680,"wires":[]},{"id":"93d4f9ad.072978","type":"mqtt in","z":"de789932.9a1fc8","name":"","topic":"send-people-count","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":170,"y":480,"wires":[["57095ae6.efdfe4"]]},{"id":"57095ae6.efdfe4","type":"ui_text","z":"de789932.9a1fc8","group":"eef74916.fa4978","order":1,"width":0,"height":0,"name":"","label":"People Count","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":480,"wires":[]},{"id":"b92ccb47.353f28","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":240,"wires":[["9e41db8a.3bdf48"]]},{"id":"1187be30.26f242","type":"mqtt in","z":"de789932.9a1fc8","name":"temperature-data","topic":"AB/ambiance-box1/sensors/dht11/+/temperature/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":160,"y":240,"wires":[["b92ccb47.353f28"]]},{"id":"17cfd86e.4870d8","type":"mqtt in","z":"de789932.9a1fc8","name":"humidity-data","topic":"AB/ambiance-box1/sensors/dht11/+/humidity/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":150,"y":300,"wires":[["a44ef0de.b62df"]]},{"id":"a44ef0de.b62df","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":300,"wires":[["c6ddb71a.22f0f8"]]},{"id":"e4fb5ef0.a0729","type":"json","z":"de789932.9a1fc8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":360,"wires":[["cd5b693f.c9bbc8"]]},{"id":"88e217df.92c5b8","type":"mqtt in","z":"de789932.9a1fc8","name":"heatindex-data","topic":"AB/ambiance-box1/sensors/dht11/+/heatindex/#","qos":"2","datatype":"auto","broker":"2071a68b.30d0ba","x":160,"y":360,"wires":[["e4fb5ef0.a0729"]]},{"id":"a280dada.537f58","type":"ui_dropdown","z":"de789932.9a1fc8","name":"","label":"Ambiance Selector","tooltip":"","place":"Choisissez votre ambiance","group":"ea65dc3a.35eca","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Jazz","value":1,"type":"num"},{"label":"Fête","value":2,"type":"num"},{"label":"Reposante","value":3,"type":"num"},{"label":"Romantique","value":4,"type":"num"}],"payload":"","topic":"","x":170,"y":680,"wires":[["a377e261.fa2ec","37c3d64c.e3c1da"]]},{"id":"bcacb229.723de","type":"function","z":"de789932.9a1fc8","name":"","func":"var test = msg.payload\nmsg.payload = null;\nif (1){\n    if (test[0] == 1) {\n        msg.payload = \"./firefly-ring\";\n    } else if (test[0] == 2){\n        msg.payload = \"./random-ring\";\n} else if (test[0] == 3){\n        msg.payload = \"./fire-flicker\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":680,"wires":[["c7d112cd.3ae07","b5229b8a.e32cc8"]]},{"id":"a377e261.fa2ec","type":"join","z":"de789932.9a1fc8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":430,"y":680,"wires":[["bcacb229.723de"]]},{"id":"b5229b8a.e32cc8","type":"debug","z":"de789932.9a1fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":540,"wires":[]},{"id":"dce7a8cd.b0e938","type":"inject","z":"eec85c5d.19059","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":420,"wires":[["494ebd84.e29fd4"]]},{"id":"2183490c.fe92f6","type":"debug","z":"eec85c5d.19059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":480,"wires":[]},{"id":"494ebd84.e29fd4","type":"get-outlook-calendar","z":"eec85c5d.19059","server":"29b6b0b6.80ac6","name":"","username":"","password":"","x":340,"y":500,"wires":[["2183490c.fe92f6"]]},{"id":"b2b9eca6.c79158","type":"function","z":"bbc39bd3.c6786","name":"search","func":"msg.payload = 'search title ' + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["4daecd45.1a808c"]]},{"id":"e42fcd16.f2712","type":"inject","z":"bbc39bd3.c6786","name":"","topic":"","payload":"synthwave","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["6320ac82.c5574c","913e4e78.622de"]]},{"id":"6bd9dddb.3b29a4","type":"GetEvent","z":"eec85c5d.19059","token":"eyJhbGciOiJSUzI1NiIsImtpZCI6Ijc2MmZhNjM3YWY5NTM1OTBkYjhiYjhhNjM2YmYxMWQ0MzYwYWJjOTgiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXpwIjoiNzE3OTUxOTMxMTQ3LWg0MHZsdjdkZWJ1cGcybjE5cjFxMmg2MHN2azJkbzVwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiNzE3OTUxOTMxMTQ3LWg0MHZsdjdkZWJ1cGcybjE5cjFxMmg2MHN2azJkbzVwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTExNzU4NDcwMTc5MDcxNzAyODU4IiwiZW1haWwiOiJjYWx2aW5hdWRpZXJAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJfYnh5RGhCQ0FMT1kwUnVPaU5zX0RnIiwibmFtZSI6IkNhbHZpbiBBdWRpZXIiLCJwaWN0dXJlIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tLy1CLTlKYWNyRTNSTS9BQUFBQUFBQUFBSS9BQUFBQUFBQUFBQS9BQ0hpM3Jja2wxdW03bzVPSWpDODlCVE84TFVOVDlSZWxBL3M5Ni1jL3Bob3RvLmpwZyIsImdpdmVuX25hbWUiOiJDYWx2aW4iLCJmYW1pbHlfbmFtZSI6IkF1ZGllciIsImxvY2FsZSI6ImZyIiwiaWF0IjoxNTgxODY1ODYxLCJleHAiOjE1ODE4Njk0NjEsImp0aSI6IjU0NTZlYTU0OTIyMzUxNTk1MDkxZDg4ODc3NzVlZTNjYmY2MDE3YmEifQ.w1SJNekPER4EVxdKyTP_H-2pM0DyQuYOFQFuVukHHiXf4oQkUCC-8SoBg16cm9tXXdP__NHRlhTnsAwc0Vvm1M4p96u7t2gDI3xBrsOryBo3FRJqAmdQPBjOIaUGeIquSlGDTv1BELOsoLtlB5smwXdkehc31R-pDninSF3Ic-EgTQAuQtF4ye50TPUYRlpC4RiaQWs_pCCCLD41DdVbIv6IUgxhc_yNHYqjJ6QPd8q4ZW7rKnHGK9ORkBkoKo9JZL1Mrv72rz5pnEJPLuZjQGQN56zkOk73ZWwJiyM3TaTlD4vNClPpUX6cpgN_rct9Blxn1qdpraT0C_hBkmCFPQ","calendarId":"calvinaudier@gmail.com","timeMin":"Feb 16, 2020 06:15:00","timeMax":"Feb 17, 2020 18:15:00","x":480,"y":200,"wires":[["8d5df95.7deea08","c027df25.b52ce"]]},{"id":"2f7fa3f2.bee294","type":"function","z":"bbc39bd3.c6786","name":"add","func":"if(Array.isArray(msg.payload) && 'file' in msg.payload[0]){\n    msg.payload = `add '${msg.payload[0].file}'`;\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["423dc335.d796c4","4daecd45.1a808c","f6142309.950478"]]},{"id":"4daecd45.1a808c","type":"mpd out","z":"bbc39bd3.c6786","name":"","topic":"","server":"","x":680,"y":80,"wires":[["2f7fa3f2.bee294","f6142309.950478"]]},{"id":"6320ac82.c5574c","type":"function","z":"bbc39bd3.c6786","name":"clear queue","func":"msg.payload = 'clear';\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["4daecd45.1a808c"]]},{"id":"913e4e78.622de","type":"delay","z":"bbc39bd3.c6786","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":100,"wires":[["b2b9eca6.c79158"]]},{"id":"f6142309.950478","type":"debug","z":"bbc39bd3.c6786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":120,"wires":[]},{"id":"293ee8ef.a53208","type":"function","z":"bbc39bd3.c6786","name":"play","func":"msg.payload = 'play';\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["4daecd45.1a808c"]]},{"id":"423dc335.d796c4","type":"delay","z":"bbc39bd3.c6786","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":300,"wires":[["293ee8ef.a53208"]]},{"id":"c4006377.e70c18","type":"function","z":"bbc39bd3.c6786","name":"clear & start research","func":"msg.payload = {cmd: 'clear', cmd_name: 'clear', data: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":440,"wires":[["a854779c.691928"]]},{"id":"b667fa0.c456b88","type":"inject","z":"bbc39bd3.c6786","name":"","topic":"","payload":"synthwave","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["c4006377.e70c18"]]},{"id":"a854779c.691928","type":"mqtt out","z":"bbc39bd3.c6786","name":"","topic":"mpd-control","qos":"2","retain":"","broker":"2071a68b.30d0ba","x":770,"y":440,"wires":[]},{"id":"e9667ce7.f581b","type":"function","z":"bbc39bd3.c6786","name":"search, add & play","func":"switch(msg.payload.cmd_name){\n    case 'clear':\n        msg.payload.cmd_name = 'search';\n        msg.payload.cmd = 'search title ' + msg.payload.data;\n        //msg.payload.data = msg.payload.data;\n        return msg;\n    case 'search':\n        msg.payload.cmd_name = 'add';\n        msg.payload.cmd = 'add ' + msg.payload.results[1];\n        return msg;\n    case 'add':\n        msg.payload.cmd = 'play';\n        msg.payload.cmd_name = 'play';\n        return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["a854779c.691928"]]},{"id":"2ed1062.2a907fa","type":"mqtt in","z":"bbc39bd3.c6786","name":"","topic":"mpd-receive","qos":"2","datatype":"json","broker":"2071a68b.30d0ba","x":110,"y":500,"wires":[["e9667ce7.f581b","8650b845.164cb"]]},{"id":"8650b845.164cb","type":"debug","z":"bbc39bd3.c6786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":580,"wires":[]},{"id":"a18682f9.098ae","type":"inject","z":"eec85c5d.19059","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":180,"wires":[["6bd9dddb.3b29a4"]]},{"id":"8d5df95.7deea08","type":"http request","z":"eec85c5d.19059","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.googleapis.com/calendar/v3/calendars/calvinaudier@gmail.com/events?timeMax=Mon%20Feb%2017%202020%2018%3A15%3A00%20GMT%2B0100%20(Central%20European%20Standard%20Time)&timeMin=Sun%20Feb%2016%202020%2006%3A15%3A00%20GMT%2B0100%20(Central%20European%20Standard%20Time)","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":260,"wires":[["8215514c.7d502"]]},{"id":"c027df25.b52ce","type":"debug","z":"eec85c5d.19059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":220,"wires":[]},{"id":"8215514c.7d502","type":"debug","z":"eec85c5d.19059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":300,"wires":[]},{"id":"ce01b32a.1360b","type":"http request","z":"eec85c5d.19059","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"https://online.wonderware.eu/apis/upload/datasource","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":60,"wires":[["f941d62f.1f7ca8"]]},{"id":"3ae6487c.002328","type":"function","z":"eec85c5d.19059","name":"","func":"msg.headers = {\n    Authorization: \"Bearer \" + \"xxxxx\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["ce01b32a.1360b"]]},{"id":"d42bb641.c44318","type":"inject","z":"eec85c5d.19059","name":"","topic":"","payload":"{    \"data\": [      {                \"Reactor3.Level\": 1.51860072870498,        \"Reactor3.Temp\": 27.1360543141452,        \"Reactor3.InletValve\": 0,        \"Reactor3.Step\": 7,        \"Line3.Units\": 1518,        \"Line3.Product\": \"zeubi\"      }]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":50,"y":60,"wires":[["3ae6487c.002328"]]},{"id":"f941d62f.1f7ca8","type":"debug","z":"eec85c5d.19059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":60,"wires":[]},{"id":"1ce5aeaa.181899","type":"function","z":"bbc39bd3.c6786","name":"set volume","func":"msg.payload = {\n    cmd_name: 'volume', \n    cmd: 'volume ' + msg.payload\n}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["a854779c.691928"]]},{"id":"35cc08b8.843288","type":"inject","z":"bbc39bd3.c6786","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["1ce5aeaa.181899"]]}]
