node-red/node-red.json
[{"id":"de266730.6f5648","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5040ace1.aff6b4","type":"tab","label":"Config","disabled":false,"info":""},{"id":"8ae602d1.6d1528","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"b4aa1b3e.36466","type":"tab","label":"Lumière Somfy","disabled":false,"info":""},{"id":"dafee96b.02e9a8","type":"tab","label":"Calendar","disabled":false,"info":""},{"id":"66736f38.3155c","type":"tab","label":"Lumière Zigbee","disabled":false,"info":""},{"id":"a0c38d25.e9e4d8","type":"socketio-config","z":"","host":"http://localhost:8000/socket.io","port":"0"},{"id":"1d865a3e.61d87e","type":"websocket-listener","z":"","path":"/localhost/","wholemsg":"true"},{"id":"c4ee66a3.427ea","type":"websocket-client","z":"","path":"ws://localhost:8000/","tls":"","wholemsg":"true"},{"id":"51677bdb.84e674","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8fea7b52.c9f28","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"a2fc34b5.f1f19","type":"ui_group","z":"","name":"Lumière","tab":"8fea7b52.c9f28","order":1,"disp":true,"width":"6","collapse":false},{"id":"84d71942.3b8ef8","type":"ui_group","z":"","name":"Sound","tab":"8fea7b52.c9f28","order":2,"disp":true,"width":"6","collapse":false},{"id":"6100d911.a48938","type":"zigbee-shepherd","z":"","name":"zigbee herdsman","path":"/dev/ttyACM0","baudRate":"115200","rtscts":true,"channelList":[11],"led":"disabled"},{"id":"7bf00d62.4a055c","type":"inject","z":"de266730.6f5648","name":"","topic":"","payload":"hello server","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["1b77053d.d90c23"]]},{"id":"3ed4f1b7.6daa1e","type":"debug","z":"de266730.6f5648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":120,"wires":[]},{"id":"56a48599.9ca00c","type":"websocket in","z":"de266730.6f5648","name":"[WebSocket] connect to server","server":"","client":"c4ee66a3.427ea","x":240,"y":100,"wires":[["3ed4f1b7.6daa1e"]]},{"id":"1b77053d.d90c23","type":"websocket out","z":"de266730.6f5648","name":"[WebSocket] send to server","server":"","client":"c4ee66a3.427ea","x":440,"y":380,"wires":[]},{"id":"b047a77d.2d0448","type":"websocket in","z":"de266730.6f5648","name":"[WebSocket] listen to server","server":"1d865a3e.61d87e","client":"","x":240,"y":60,"wires":[["3ed4f1b7.6daa1e"]]},{"id":"a678d6ac.da5258","type":"ui_switch","z":"8ae602d1.6d1528","name":"","label":"Lumière entrée","tooltip":"","group":"a2fc34b5.f1f19","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":220,"wires":[["f6607bc8.e73f18"]]},{"id":"45fa1a29.0d3d04","type":"ui_switch","z":"8ae602d1.6d1528","name":"","label":"Lumière chambre","tooltip":"","group":"a2fc34b5.f1f19","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":280,"wires":[[]]},{"id":"91d3613c.99d91","type":"link in","z":"b4aa1b3e.36466","name":"Lumière Somfy Out","links":["f6607bc8.e73f18"],"x":260,"y":180,"wires":[["255a6b68.ee27ec"]]},{"id":"32c734e4.ca578c","type":"link out","z":"b4aa1b3e.36466","name":"Lumière Somfy In","links":["b6987ca6.05c7f8"],"x":520,"y":300,"wires":[]},{"id":"c53d7ac0.163f7","type":"change","z":"b4aa1b3e.36466","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["32c734e4.ca578c"]]},{"id":"255a6b68.ee27ec","type":"change","z":"b4aa1b3e.36466","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[["c7489e79.190598"]]},{"id":"c7489e79.190598","type":"tahoma","z":"b4aa1b3e.36466","tahomabox":"","name":"","device":"","x":630,"y":180,"wires":[[]]},{"id":"29c74ca8.5d1a84","type":"tahoma-read","z":"b4aa1b3e.36466","tahomabox":"","name":"","device":"","x":180,"y":300,"wires":[["c53d7ac0.163f7"]]},{"id":"97662b5c.7ea0a8","type":"change","z":"dafee96b.02e9a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello, tonight even will start in 30 minutes, we are impatient to welcome you!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":280,"wires":[["69b81b9.81b76e4"]]},{"id":"450e57a8.b0cb18","type":"http in","z":"dafee96b.02e9a8","name":"","url":"/calendar","method":"post","upload":false,"swaggerDoc":"","x":400,"y":280,"wires":[["a514f879.96225","50052c69.91302c"]]},{"id":"a514f879.96225","type":"http response","z":"dafee96b.02e9a8","name":"","statusCode":"200","headers":{},"x":580,"y":180,"wires":[]},{"id":"b5e16981.af9cb8","type":"ui_switch","z":"8ae602d1.6d1528","name":"","label":"Sound Alert","tooltip":"","group":"84d71942.3b8ef8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":380,"wires":[["535700e3.c8bef8"]]},{"id":"535700e3.c8bef8","type":"link out","z":"8ae602d1.6d1528","name":"SoundAlert","links":["d12a9575.f08c28"],"x":395,"y":380,"wires":[]},{"id":"d12a9575.f08c28","type":"link in","z":"dafee96b.02e9a8","name":"","links":["535700e3.c8bef8"],"x":335,"y":340,"wires":[["ce8309ae.c93cd8"]]},{"id":"50052c69.91302c","type":"switch","z":"dafee96b.02e9a8","name":"","property":"issoundalerton","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":280,"wires":[["97662b5c.7ea0a8"]]},{"id":"ce8309ae.c93cd8","type":"change","z":"dafee96b.02e9a8","name":"","rules":[{"t":"set","p":"issoundalerton","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[[]]},{"id":"576a765f.a462e","type":"ui_audio","z":"8ae602d1.6d1528","name":"","group":"84d71942.3b8ef8","voice":"en-US","always":"","x":260,"y":440,"wires":[]},{"id":"81a4b68a.70dc18","type":"link in","z":"8ae602d1.6d1528","name":"SoundMessage","links":["69b81b9.81b76e4"],"x":100,"y":440,"wires":[["576a765f.a462e"]]},{"id":"69b81b9.81b76e4","type":"link out","z":"dafee96b.02e9a8","name":"SoundMessage","links":["81a4b68a.70dc18"],"x":935,"y":280,"wires":[]},{"id":"5c4744d9.1a08bc","type":"http in","z":"5040ace1.aff6b4","name":"","url":"/config-capteur","method":"put","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["fde71568.447d7","3734ce2d.758e1a"]]},{"id":"b6987ca6.05c7f8","type":"link in","z":"8ae602d1.6d1528","name":"","links":["32c734e4.ca578c"],"x":120,"y":220,"wires":[["a678d6ac.da5258"]]},{"id":"f6607bc8.e73f18","type":"link out","z":"8ae602d1.6d1528","name":"","links":["91d3613c.99d91"],"x":395,"y":220,"wires":[]},{"id":"67ecad21.89cefc","type":"zigbee-event","z":"66736f38.3155c","shepherd":"6100d911.a48938","name":"","device":"","events":["attributeReport","command"],"topic":"zigbee/${ieeeAddr}/${type}/${endpoint}/${cluster}/${attribute}","payload":"json","x":170,"y":260,"wires":[["f5ff21ce.a24d1"]]},{"id":"f7eb4099.f47578","type":"zigbee-controller","z":"66736f38.3155c","shepherd":"6100d911.a48938","name":"controller","x":400,"y":200,"wires":[[]]},{"id":"a9b6b24e.2a0f6","type":"link in","z":"66736f38.3155c","name":"Lumière Zigbee out","links":[],"x":115,"y":200,"wires":[["366affd.22202"]]},{"id":"ac3638f9.85bee","type":"link out","z":"66736f38.3155c","name":"Lumière Zigbee In","links":[],"x":435,"y":260,"wires":[]},{"id":"f5ff21ce.a24d1","type":"change","z":"66736f38.3155c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":260,"wires":[["ac3638f9.85bee"]]},{"id":"366affd.22202","type":"change","z":"66736f38.3155c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":200,"wires":[["f7eb4099.f47578"]]},{"id":"fde71568.447d7","type":"zigbee-controller","z":"5040ace1.aff6b4","shepherd":"","name":"controller","x":420,"y":120,"wires":[[]]},{"id":"3734ce2d.758e1a","type":"tahoma","z":"5040ace1.aff6b4","tahomabox":"","name":"","device":"","x":510,"y":180,"wires":[[]]}]